@import '../../viewport-info.scss';

.shop {

    .shop-top-image {
        box-shadow: 0 0 4px rgba(245, 222, 179, 0.6);
        margin-bottom: 20px;
    }

    .shop-inner-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        .shop-button {
            border-width: 20px;
            height: 30px;
            line-height: 0;
            width: 100%;
            margin-left: -40px;

            @include when-tablet {
                margin-left: 0;
            }
        }

        .shop-money-container {
            padding-bottom: 10px;
        }

        .shop-money-icon {
            width:16px;
        }

        .shop-table-entry-container {
            box-shadow: 0 0 4px rgba(245, 222, 179, 0.6);
            background-color: rgba(255,255,255,0.05);
            padding: 5px;

            .shop-entry-text {
                height: 42px;
                line-height: 42px;

                @include when-tablet {
                    padding-right: 0;
                }

                .badge {
                    margin-left: 30px;

                    @include when-tablet {
                        margin-left: 0;
                    }
                }
            }
        }

        .shop-item-container {
            padding: 0;

            @include when-tablet {
                padding: 15px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}