.exploration-table {

    .exploration-level-holder, .exploration-button-holder {
        vertical-align: middle;
        text-align: center;
    }

    .exploration-name-holder {
        vertical-align: middle;
    }
}