<div>
    <dl class="inventory-popup-definition-list">
        <dt>Name:</dt>
        <dd ng-bind="::data.item.name"></dd>
        <dt>Type:</dt>
        <dd ng-bind="::data.item.type"></dd>
        <dt ng-if="data.item.subtype">Sub-type:</dt>
        <dd ng-if="data.item.subtype" ng-bind="::data.item.subtype"></dd>
        <dt>Weight:</dt>
        <dd ng-bind="::data.item.weight + ' kg'"></dd>
        <dt ng-if="data.item.requirements.length > 0">Requirements:</dt>
        <dd ng-repeat="requirement in data.item.requirements"
            ng-bind="::requirement.value + ' - ' + requirement.attribute"></dd>
        <dt ng-if="data.item.modifiers.length > 0">Modifiers:</dt>
        <dd ng-repeat="modifier in data.item.modifiers"
            ng-bind="::modifier.value + ' - ' + modifier.attribute"></dd>
    </dl>
    <p ng-if="data.item.description" ng-bind="::data.item.description" style="text-align: center;margin: 10px;"></p>
    <p ng-if="data.item.flavour" style="text-align: center;margin: 10px;"><i>“{{data.item.flavour}}”</i></p>
</div>