.panel {
    background-color: #000;

    border: 30px;
    border-top: 70px;
    border-image-source: url(../../../image/c_full_header.png);
    border-image-slice: 100 30 30 30 fill;
    border-image-repeat: repeat;
    border-style: solid;

    margin-bottom: 0;

    .panel-heading {
        color: wheat;
        margin-top: -56px;
        padding-top: 5px;
        background: transparent;
        padding-left: 0;
        border: 0;

        .panel-heading-icon {
            float: left;
            margin-left: -6px;
            margin-right: 6px;
            margin-top: -3px;

            img {
                width: 32px;
            }
        }

        .panel-title {
            font-family: "Candara";
            font-size: 20px;
        }

        .panel-heading-button-group {
            position: absolute;
            right: 18px;
            top: 10px;
            z-index: 101;
        }

        .panel-heading-button-group button {
            border-width: 20px;
            height: 30px;
            line-height: 0;
        }
    }

    .panel-body {
        padding: 20px 0 0;
        font-family: "Candara";
        font-size: 16px;
    }
}