.panel {
    background-color: #000;

    border: 30px;
    border-top: 70px;
    border-image-source: url(../../../image/c_full_header.png);
    border-image-slice: 100 30 30 30 fill;
    border-image-repeat: repeat;
    border-style: solid;

    margin-bottom: 0;

    .panel-heading {
        color: wheat;
        margin-top: -56px;
        padding-top: 5px;
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        border: 0;

        .panel-heading-icon {
            float: left;
            margin-left: -6px;
            margin-right: 6px;
            margin-top: -3px;

            img {
                width: 32px;
            }
        }

        .panel-heading-icon-improved {
            float: left;
            position: absolute;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            top: 8px;
            left: 46px;
        }

        .panel-heading-icon-improved-holder {
             float: left;
             height: 80px;
             margin-top: -26px;
             margin-left: -10px;
             margin-right: 8px;
        }

        .panel-title {
            font-family: "Candara";
            font-size: 23px;
        }
    }

    .panel-body {
        padding: 30px 0 0;
        font-family: "Candara";
        font-size: 16px;
    }
}