<td>{{recipe.name}}
    <small ng-if="recipe.chance < 100" style="color: red;">({{recipe.chance}}% chance)</small>
</td>
<td>
    <ul style="list-style-type: none;">
        <li ng-repeat="requirement in recipe.recipeRequirements">
            <span ng-if="requirement.item">{{requirement.requiredAmount}} - <item-definition-display item="requirement.item"></item-definition-display>
                <small ng-if="requirement.existingAmount >= requirement.requiredAmount" style="color:green;">(in inventory)</small>
                <small ng-if="requirement.existingAmount < requirement.requiredAmount" style="color:red;">({{requirement.requiredAmount - requirement.existingAmount}} missing)</small>
            </span>
            <span ng-if="requirement.skill">{{requirement.amount}} - {{requirement.skill}} level</span>
            <span ng-if="requirement.resource">{{requirement.amount}} - {{requirement.resource}}</span>
        </li>
        <li ng-repeat="ingredient in recipe.recipeIngredients">
            {{ingredient.requiredAmount}} - <item-definition-display item="ingredient.item"></item-definition-display>
            <small ng-if="ingredient.existingAmount >= ingredient.requiredAmount" style="color:green;">(in inventory)</small>
            <small ng-if="ingredient.existingAmount < ingredient.requiredAmount" style="color:red;">({{ingredient.requiredAmount - ingredient.existingAmount}} missing)</small>
            <small style="color: lightgray;">(consumed)</small>
        </li>
    </ul>
</td>
<td>
    <ul style="list-style-type: none;">
        <li ng-repeat="reward in recipe.recipeRewards">{{reward.amount}} - <item-definition-display item="reward.item"></item-definition-display>
        </li>
        <li ng-repeat="experience in recipe.recipeExperiences">{{experience.amount}} -
            {{experience.skill}} experience
        </li>
    </ul>
</td>
<td class="text-center" style="vertical-align: middle;">
    <a ng-click="create({id: recipe.id})">Create</a>
</td>