<div class="definition-popover item-definition-popover">
    <h4 ng-bind="::data.item.name" class="definition-title"></h4>
    <div class="row definition-detail-line">
        <div class="col-lg-8">
            <div class="pull-left">
                <span ng-bind="::data.item.type"></span>
                <span ng-if="::data.item.subtype">-</span>
                <span ng-if="::data.item.subtype" ng-bind="::data.item.subtype"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pull-right">
                <span ng-bind="::data.item.weight + ' kg'"></span>
            </div>
        </div>
    </div>
    <div ng-if="::data.hasImage()" class="definition-image-holder">
        <img ng-src="{{data.getItemImage()}}" class="definition-image">
    </div>
    <dl class="definition-list">
        <dt ng-if="::data.item.requirements.length > 0">Requirements:</dt>
        <dd ng-repeat="requirement in data.item.requirements track by requirement.attribute"
            ng-bind="::requirement.value + ' - ' + requirement.attribute"></dd>
        <dt ng-if="data.item.modifiers.length > 0">Modifiers:</dt>
        <dd ng-repeat="modifier in data.item.modifiers">
            <span ng-bind="::modifier.value">11</span>
            <span ng-if="::modifier.d2 != 0">{{::modifier.d2}}d2</span>
            <span ng-if="::modifier.d4 != 0">{{::modifier.d4}}d4</span>
            <span ng-if="::modifier.d6 != 0">{{::modifier.d6}}d6</span>
            <span ng-if="::modifier.d8 != 0">{{::modifier.d8}}d8</span>
            <span ng-if="::modifier.d10 != 0">{{::modifier.d10}}d10</span>
            <span> - {{::modifier.attribute}}</span>
        </dd>
    </dl>
    <p ng-if="::data.item.description" class="definition-description">
        <span ng-bind="::data.item.description"></span>
    </p>
    <p ng-if="::data.item.flavour" class="definition-flavor">
        <i ng-bind="::'“' + data.item.flavour + '”'"></i>
    </p>
</div>