@import '../../viewport-info.scss';

.knowledge-base-container {
    position:relative;
    min-height: 50px;

    .knowledge-base-header-image {
        max-height: 66px;
        margin-left: auto;
        margin-right: auto;
    }

    .knowledge-base-header {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include when-mobile {
            position: relative;
        }
    }
}

.knowledge-base-toc {
    color: #c2af8d;

    .knowledge-base-toc-list-big span {
        font-size: 20px;
        cursor: pointer;
    }

    .knowledge-base-toc-list-small span {
        font-size: 16px;
        cursor: pointer;
    }

    .btn.btn-primary {
        background-image: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(255,255,255,0.3) 100%);
        background-color: rgba(255,255,255,0.1);
        border: rgba(255,255,255,0.05);
    }
}

.knowledge-base-text {
    text-align: justify;
}