.ladder-skill-entry-icon-holder {
    background: url(../../../image/m_action_frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 92px;

    // This is here to be compatible with all platform (especially mobile)
    width: 60px;
    margin-left: auto;
    margin-right: auto;

    .ladder-skill-entry-icon-inner-holder {
        padding-top: 25px;
        text-align: center;
        padding-left: 0;

        img.ladder-skill-entry-icon {
            cursor: pointer;
            height: 37px;
            margin: auto;
        }
    }
}

.ladder-table-holder {
    border: 0;
}