.attribute-popover {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.attribute-icon {
    position: absolute;
    width: 28px;
    top: 20px;
    left: 26px;
}

.attribute-icon-holder {
    width: 67px;
    margin-right: -20px;
}

.attribute-progress-bar {
    width: 130px;
    height: 12px;
    position: absolute;
    left: 66px;
    top: 40px;
}

.attribute-value-holder {
    float: right;
    margin-top: 14px;
    font-size: 18px;
}