.equipment-slot {
    position: absolute;
    cursor: pointer;
    z-index: 2;

    + .popover {
        margin-left: -10px;
    }
}

.equipment-slot-image-icon {
    position: absolute;
    z-index: 3;
    width: 71px;
    top: 24px;
    left: 24px;
}

.equipment-slot-image-overlay {
    position: absolute;
    width: 70px;
    top: 25px;
    left: 25px;
}

.equipment-slot-image {
    width: 120px;
}

.equipment-slot-boots {
    bottom: -10px;
    left: 120px;
}

.equipment-slot-legs {
    bottom: 85px;
    left: 120px;
}

.equipment-slot-belt {
    bottom: 180px;
    left: 120px;
}

.equipment-slot-weapon {
    bottom: 180px;
    left: 25px;
}

.equipment-slot-offhand {
    bottom: 180px;
    left: 215px;
}

.equipment-slot-body {
    bottom: 275px;
    left: 120px;
}

.equipment-slot-helm {
    bottom: 370px;
    left: 120px;
}

.equipment-slot-gloves {
    bottom: 275px;
    left: 25px;
}

.equipment-slot-bracer {
    bottom: 275px;
    left: 215px;
}

.equipment-slot-left-ring {
    bottom: -10px;
    left: 25px;
}

.equipment-slot-right-ring {
    bottom: -10px;
    left: 215px;
}

.equipment-slot-quiver {
    bottom: 370px;
    left: 215px;
}

.equipment-slot-quiver-amount {
    position: absolute;
    bottom: 28px;
    right: 28px;
    z-index: 5;
}

.equipment-slot-amulet {
    bottom: 370px;
    left: 25px;
}