/* TODO: this should moved to equipment */
.inventory-player-model {
    height: 450px;
    margin-top: 40px;

    .inventory-player-model-image {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;

        margin-left: 80px;
    }

    .inventory-player-model-background {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

.inventory-popup-definition-list {
    margin-bottom: 0;
}

.inventory-entry-list {
    border: 30px;
    border-image-source: url(../../../image/c_full.png);
    border-image-slice: 30 fill;
    border-image-repeat: repeat;
    border-style:solid;
    margin: 0;

    .inventory-entry {
        padding: 5px;

        .tooltip {
            margin-left: -5px;
        }

        .inventory-entry-equip-icon-holder, .inventory-entry-use-icon-holder {
            width: 26px;
            cursor: pointer;
        }

        .inventory-entry-popup-icon, .inventory-entry-icon-holder {
            float: right;
            padding-right: 10px;
        }

        .inventory-entry-item-name {
            padding-left: 5px;
        }
    }
}