.button-panel {
    .big-button-text {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 170px;
        top: 18px;
        left: 80px;
        font-size: 20px;
    }

    .big-button-icon {
        height: 52px;
        top: 8px;
        left: 22px;
        border-radius: 50%;
        position: absolute;
    }

    .big-button {
        cursor: url(../../../image/cursor/target.png), auto;

        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .alert {
        margin-bottom: 10px;
    }
}