<div class="col-md-4 col-lg-4 big-button" ui-sref="market-list-sell">
    <img src="../../../image/cf_main_frame.png" class="img-responsive">
    <img class="big-button-icon" src="../../../image/icon/extra/agreement.png"/>
    <span class="big-button-text">Sell</span>
</div>
<div class="col-md-4 col-lg-4 big-button" ui-sref="market-list-buy">
    <img src="../../../image/cf_main_frame.png" class="img-responsive">
    <img class="big-button-icon" src="../../../image/icon/extra/sell.png"/>
    <span class="big-button-text">Buy</span>
</div>
<div class="col-md-4 col-lg-4 big-button" ui-sref="market-my-offers">
    <img src="../../../image/cf_main_frame.png" class="img-responsive">
    <img class="big-button-icon" src="../../../image/icon/extra/sell.png"/>
    <span class="big-button-text">My listings</span>
</div>