<div class="panel panel-default button-panel shop scavenging-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/market.png">
        <img class="panel-heading-icon-improved-holder" src="../../../image/m_action_frame.png"/>
        <h3 class="panel-title">Market</h3>
    </div>
    <div class="panel-body" style="padding: 6px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" style="    margin-top: 20px;">
                    <div ng-include="'market-header'"></div>
                </div>
                <div class="shop-inner-container">
                    <h3 class="text-center">My listings</h3>
                    <div class="row" style="
    padding-top: 25px;
    margin-bottom: 10px;">
                        <div class="col-md-12 col-lg-12">
                            <div class="information-holder">
                                <div class="information-holder-icon">
                                    <img src="../../../image/cc_char_info_button.png">
                                </div>
                                <div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel semper diam,
                                    vitae cursus orci. Duis fermentum urna non sem luctus tempor. Quisque viverra
                                    iaculis dui, ut bibendum urna sollicitudin in. Aenean sagittis orci sit amet dolor
                                    porttitor scelerisque. Aenean vel augue diam. Sed vel sagittis dolor. Sed sagittis,
                                    lacus ut interdum ornare, dui odio consectetur metus, ut aliquam tortor felis sed
                                    elit.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center" ng-if="shopData.offers.length == 0" style="    margin-top: 14px;">
                        You don't have offers on the market.
                    </div>

                    <div class="shop-table-entry-container" ng-if="shopData.offers.length > 0">
                        <div ng-repeat="offer in shopData.offers">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 shop-item-container">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1 text-center shop-entry-text">
                                            <span class="badge text-center" ng-bind="offer.amount"></span>
                                        </div>
                                        <div class="col-md-6 col-lg-6 shop-entry-text">
                                            {{offer.name}}
                                        </div>
                                        <div class="col-md-3 col-lg-3 shop-entry-text text-center">
                                            <span>{{offer.price % 100}} <img class="shop-money-icon" src="../../../image/icon/shop/bronze.png"></span>
                                            <span ng-if="offer.price > 100">{{floor((offer.price / 100) % 100)}} <img class="shop-money-icon" src="../../../image/icon/shop/silver.png"></span>
                                            <span ng-if="offer.price > 10000">{{floor(offer.price / 10000)}} <img class="shop-money-icon" src="../../../image/icon/shop/gold.png"></span>
                                        </div>
                                        <div class="col-lg-2 text-center">
                                            <button class="button-default shop-button" ng-click="cancel(offer.id)">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>