<div class="panel panel-default button-panel shop-panel scavenging-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/market.png">
        <img class="panel-heading-icon-improved-holder" src="../../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">Market</h3>
    </div>
    <div class="panel-body" style="padding: 6px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row big-button-container" style="    margin-top: 20px;">
                    <div ng-include="'market-header'"></div>
                </div>
                <div class="shop-inner-container">
                    <h3 class="text-center">My listings</h3>

                    <div class="text-center" ng-if="shopData.offers.length == 0" style="    margin-top: 14px;">
                        You don't have offers on the market.
                    </div>

                    <div class="shop-table-entry-container" ng-if="shopData.offers.length > 0">
                        <div ng-repeat="offer in shopData.offers">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12 shop-item-container">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1 text-center shop-entry-text">
                                            <span class="badge text-center" ng-bind="offer.amount"></span>
                                        </div>
                                        <div class="col-md-6 col-lg-6 shop-entry-text">
                                            {{offer.name}}
                                        </div>
                                        <div class="col-md-3 col-lg-3 shop-entry-text text-center">
                                            <display-price price="offer.price"></display-price>
                                        </div>
                                        <div class="col-lg-2 text-center">
                                            <button class="button-default shop-button" ng-click="cancel(offer.id)">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>