<div class="panel panel-default button-panel shop-panel scavenging-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/market.png">
        <img class="panel-heading-icon-improved-holder" src="../../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">Market</h3>
    </div>
    <div class="panel-body" style="padding: 6px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row big-button-container" style="    margin-top: 20px;">
                    <div ng-include="'market-header'"></div>
                </div>
                <div class="shop-inner-container" style="
        margin-left: -5px;
        margin-right: -5px;">
                    <h3 class="text-center">Sell</h3>

                    <label for="itemname">Item name</label>
                    <input class="form-control" id="itemname" ng-model="item.definition.name"/>

                    <div class="text-center" ng-if="shopData.items.length == 0" style="    margin-top: 14px;">
                        No items to sell in your inventory.
                    </div>

                    <div ng-repeat="type in shopData.items" ng-if="(type.items  | filter:item).length > 0">
                        <h4><img style="width: 40px;filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));" ng-src="{{getItemTypeImage(type.typeName)}}"> {{type.typeName}}</h4>
                        <div  class="description-holder" style="padding: 5px;">
                            <div class="row" ng-repeat="item in type.items | filter:item">
                                <div class="col-sm-12 col-md-12 col-lg-12"  style="line-height: 2.6;">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1 text-center shop-entry-text">
                                            <span class="badge text-center" ng-bind="item.amount"></span>
                                        </div>
                                        <div class="col-md-9 col-lg-9 shop-entry-text">
                                            <item-definition-display item="item.definition"></item-definition-display>
                                        </div>
                                        <div class="col-lg-2 text-center">
                                            <button class="button-default shop-button" ui-sref="market-entry-sell({itemId: item.definition.id})">
                                                Sell
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>