<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-icon">
            <img src="../../image/swords.png"/>
        </div>
        <h3 class="panel-title">Character</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5" style="margin-bottom: 15px;">
                <h3><img class="character-list-header" src="../../image/btts_stats_button.png" style="margin-top: 0;"> Equipment</h3>

                <div class="inventory-player-model">
                    <div class="equipment-slot equipment-slot-amulet" ng-click="unequip('AMULET')" ng-mouseenter="setType('AMULET')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_neck.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-right-ring" ng-click="unequip('RING')" ng-mouseenter="setType('RING')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_finger.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-left-ring" ng-click="unequip('LEFT_RING')" ng-mouseenter="setType('LEFT_RING')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_finger.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-bracer" ng-click="unequip('BRACER')" ng-mouseenter="setType('BRACER')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.BRACER.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_bracer.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-gloves" ng-click="unequip('GLOVES')" ng-mouseenter="setType('GLOVES')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.GLOVES.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_gloves.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-helm" ng-click="unequip('HELM')" ng-mouseenter="setType('HELM')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.HELM.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_helmet.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-body" ng-click="unequip('CHEST')" ng-mouseenter="setType('CHEST')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.CHEST.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_chest.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-offhand" ng-click="unequip('OFFHAND')" ng-mouseenter="setType('OFFHAND')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.OFFHAND.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_offhand.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-weapon" ng-click="unequip('WEAPON')" ng-mouseenter="setType('WEAPON')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.WEAPON.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_mainhand.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <!-- Belt is not supported atm! -->
                    <div class="equipment-slot equipment-slot-belt" ng-click="unequip('BELT')" ng-mouseenter="setType('BELT')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <!--<img ng-if="!user.equipment.BELT.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>-->
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_belt.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-legs" ng-click="unequip('LEGS')" ng-mouseenter="setType('LEGS')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.LEGS.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-boots" ng-click="unequip('BOOTS')" ng-mouseenter="setType('BOOTS')" popover-html-unsafe="{{equipmentPopover}}" popover-trigger="mouseenter" popover-placement="right">
                        <img ng-if="!user.equipment.BOOTS.empty" class="equipment-slot-image-icon" src="../../image/inventory/cw_item_border_gray.png"/>
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_boots.png"/>
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <img class="inventory-player-model-image" src="../../image/inventory/character_example.png">
                    <img class="inventory-player-model-background" src="../../image/inventory/cw_character_bg.png">
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7" style="margin-bottom: 15px;">
                <h3><img class="character-list-header" src="../../image/btts_stats_button.png" style="margin-top: 0;"> Attributes</h3>
                <div class="inventory-entry-list">
                    <h4 style="margin-top: 0;margin-bottom: 0;">Physical Attributes</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" ng-repeat="(attributeName, attributeValue) in user.attribute.GENERAL_PHYSICAL">
                            <div class="clearfix" ng-if="$index % 2 == 0"></div>
                            <img class="img-circle attribute-icon" popover-html-unsafe="{{attributeDescriptionPopover}}" popover-trigger="mouseenter" ng-src="{{getAttributeImage(attributeValue.attribute.id)}}">
                            <img class="attribute-icon-holder" src="../../image/attribute/ab2_potion_frame_right.png"> <span class="attribute-name">{{attributeName}}</span>
                            <div class="progress attribute-progress-bar">
                                <span class="progress-info ng-binding">{{attributeValue.pointsToNextLevel}} / 10</span>

                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{100 - (10 - attributeValue.pointsToNextLevel) / (10 / 100)}}%;"></div>
                            </div>
                            <span class="attribute-value-holder" popover-html-unsafe="{{attributePopover}}" popover-trigger="mouseenter" popover-placement="right">{{attributeValue.actual.value}}</span>
                        </div>
                    </div>
                    <h4 style="margin-bottom: 0px;">Mental Attributes</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6" ng-repeat="(attributeName, attributeValue) in user.attribute.GENERAL_MENTAL">
                            <div class="clearfix" ng-if="$index % 2 == 0"></div>
                            <img class="img-circle attribute-icon" popover-html-unsafe="{{attributeDescriptionPopover}}" popover-trigger="mouseenter" ng-src="{{getAttributeImage(attributeValue.attribute.id)}}">
                            <img class="attribute-icon-holder" src="../../image/attribute/ab2_potion_frame_right.png"> <span class="attribute-name">{{attributeName}}</span>
                            <div class="progress attribute-progress-bar">
                                <span class="progress-info ng-binding">{{attributeValue.pointsToNextLevel}} / 10</span>

                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{100 - (10 - attributeValue.pointsToNextLevel) / (10 / 100)}}%;"></div>
                            </div>
                            <span class="attribute-value-holder" popover-html-unsafe="{{attributePopover}}" popover-trigger="mouseenter" popover-placement="right">{{attributeValue.actual.value}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Inventory</h3>
        <div class="row inventory-entry-list">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="item in user.inventory" style="padding: 0;">
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="inventory-entry">
                            <span class="inventory-entry-item-amount badge attribute-badge pull-left" ng-bind="item.item.amount"></span> <span class="inventory-entry-item-name" ng-bind="item.definition.name"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up inventory-entry-equip-icon-holder inventory-entry-icon-holder" ng-click="equip(item.definition.id)" ng-if="item.definition.equipment" uib-tooltip="Equip" tooltip-placement="right"></span>
                            <span class="glyphicon glyphicon-tint inventory-entry-use-icon-holder inventory-entry-icon-holder" ng-click="use(item.definition.id)" ng-if="item.definition.usable" uib-tooltip="Usable" tooltip-placement="right"></span>
                            <span class="glyphicon glyphicon-eye-open inventory-entry-popup-icon" popover-html-unsafe="{{inventoryPopover}}" popover-trigger="mouseenter" popover-placement="right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Combat</h3>
        <div class="row combat-attribute-list">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="(attributeName, attributeValue) in user.attribute.COMBAT">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>

                <img class="img-circle combat-attribute-icon" popover-html-unsafe="{{attributeDescriptionPopover}}" popover-trigger="mouseenter" ng-src="{{getCombatImage(attributeValue.attribute.id)}}">
                <img class="combat-attribute-icon-holder" src="../../image/attribute/ab2_potion_frame_right.png"> <span class="combat-attribute-name">{{attributeName}}</span>
                <span class="combat-attribute-value" popover-html-unsafe="{{attributePopover}}" popover-trigger="mouseenter" popover-placement="right">
                    {{attributeValue.actual.value}}
                    {{attributeValue.actual.d2 > 0 ? ' + '+attributeValue.actual.d2+'d2' : ''}}
                    {{attributeValue.actual.d4 > 0 ? ' + '+attributeValue.actual.d4+'d4' : ''}}
                    {{attributeValue.actual.d6 > 0 ? ' + '+attributeValue.actual.d6+'d6' : ''}}
                    {{attributeValue.actual.d8 > 0 ? ' + '+attributeValue.actual.d8+'d8' : ''}}
                    {{attributeValue.actual.d10 > 0 ? ' + '+attributeValue.actual.d10+'d10' : ''}}
                </span>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Skills</h3>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="(attributeName, attributeValue) in user.attribute.SKILL">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="skill-entry">
                    <div class="skill-entry-header">
                        <div class="skill-entry-icon-holder">
                            <div class="skill-entry-icon-inner-holder">
                                <img class="skill-entry-icon img-responsive img-circle" ng-src="{{getSkillImage(attributeName)}}">
                            </div>
                        </div>
                    </div>
                    <div class="skill-entry-body">
                        <h4 class="skill-entry-title">{{attributeName}}</h4>
                        <h5 class="skill-entry-level">
                            <span popover-html-unsafe="{{attributePopover}}" popover-trigger="mouseenter" popover-placement="right">Level: {{attributeValue.baseValue}} <span class="skill-entry-level-bonus" ng-if="attributeValue.bonusValue > 0">+ ({{attributeValue.bonusValue}})</span></span>
                        </h5>
                        <div class="skill-entry-incremented-attribute">
                            <img class="img-circle skill-entry-incremented-attribute-icon" popover-html-unsafe="{{incrementedAttributePopover}}" popover-trigger="mouseenter" ng-src="{{getAttributeImage(attributeValue.attribute.incrementedAttribute)}}">
                            <img class="skill-entry-incremented-attribute-icon-holder" src="../../image/attribute/ab2_potion_frame_right.png">
                        </div>

                        <div class="progress">
                            <span class="progress-info ng-binding">{{attributeValue.actualXp}} / {{attributeValue.nextLevelXp}}</span>

                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{100 - (attributeValue.nextLevelXp - attributeValue.actualXp) / (attributeValue.xpBetweenLevels / 100)}}%;"></div>
                        </div>
                        <div ng-if="attributeValue.attribute.hasPage">
                            <a ui-sref="skill-{{attributeValue.attribute.id}}">
                                <img class="skill-entry-info-down-arrow" src="../../image/fw_char_status_arrow.png">
                                <img class="skill-entry-info-link" src="../../image/cc_small_window_bot_arrow.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Spells</h3>

        <div class="row combat-attribute-list">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="spell in user.spell">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <span ng-bind="spell.name"></span>
                <span class="glyphicon glyphicon-asterisk pull-right inventory-item-watch" ng-click="cast(spell.id)" ng-if="!spell.combatSpell && !spell.openPage" style="padding-left: 5px;"></span>
                <span class="glyphicon glyphicon-book pull-right inventory-item-watch" ng-click="openPage(spell.id)" ng-if="spell.openPage" style="padding-left: 5px;"></span>
                <span class="glyphicon glyphicon-eye-open pull-right inventory-item-watch" popover-html-unsafe="{{spellPopover}}" popover-trigger="mouseenter" popover-placement="right"></span>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> General information</h3>

        <div class="general-information-panel">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="general-information-title">Username:</span>
                    <span class="general-information-value">{{user.username}}</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="general-information-title">Race:</span>
                    <span class="general-information-value">{{user.race}}</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="general-information-title">Registration date:</span>
                    <span class="general-information-value">{{user.registrationDate.epochSecond | date:'dd. MMM. yyyy.'}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <span class="general-information-title">Last login date:</span>
                    <span class="general-information-value">{{user.lastLoginDate.epochSecond | date:'dd. MMM. yyyy.'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>