<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-icon">
            <img src="../../image/swords.png"/>
        </div>
        <h3 class="panel-title">Character</h3>
    </div>
    <div class="panel-body">
        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Inventory</h3>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 15px;">
                <div class="inventory-player-model">
                    <div class="equipment-slot equipment-slot-amulet">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_neck.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-right-ring">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_finger.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-left-ring">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_finger.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-bracer">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_bracer.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-gloves">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_gloves.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-helm">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_helmet.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-body">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_chest.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-offhand">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_offhand.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-weapon">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_mainhand.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-belt">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_belt.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-legs">
                        <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <div class="equipment-slot equipment-slot-boots">
                        <img class="equipment-slot-image-overlay" src="../../image/inventory/icon/v2/cw_item_example_boots.png"/> <img class="equipment-slot-image" src="../../image/inventory/icon/v2/cw_item_slot.png"/>
                    </div>
                    <img class="inventory-player-model-image" src="../../image/inventory/character_example.png"> <img class="inventory-player-model-background" src="../../image/inventory/cw_character_bg.png">
                </div>
            </div>
        </div>
        <div class="row inventory-entry-list">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="item in user.inventory" style="padding: 0;">
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="inventory-entry">
                            <span class="inventory-entry-item-amount badge attribute-badge pull-left" ng-bind="item.item.amount"></span> <span class="inventory-entry-item-name" ng-bind="item.definition.name"></span>
                            <span class="glyphicon glyphicon-circle-arrow-up inventory-entry-equip-icon-holder inventory-entry-icon-holder" ng-click="equip(item.definition.id)" ng-if="item.definition.equipment" uib-tooltip="Equip" tooltip-placement="right"></span>
                            <span class="glyphicon glyphicon-tint inventory-entry-use-icon-holder inventory-entry-icon-holder" ng-click="use(item.definition.id)" ng-if="item.definition.usable" uib-tooltip="Usable" tooltip-placement="right"></span>
                            <span class="glyphicon glyphicon-eye-open inventory-entry-popup-icon" popover-html-unsafe="{{inventoryPopover}}" popover-trigger="mouseenter" popover-placement="right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3><img class="character-list-header" src="../../image/btts_stats_button.png"> Skills</h3>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" ng-repeat="(attributeName, attributeValue) in user.attribute.SKILL">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="skill-entry">
                    <div class="skill-entry-header">
                        <div class="skill-entry-icon-holder">
                            <div class="skill-entry-icon-inner-holder">
                                <img class="skill-entry-icon img-responsive img-circle" ng-src="{{getSkillImage(attributeName)}}">
                            </div>
                        </div>
                    </div>
                    <div class="skill-entry-body">
                        <h4 class="skill-entry-title">{{attributeName}}</h4>
                        <h5 class="skill-entry-level">
                            <span popover-html-unsafe="{{attributePopover}}" popover-trigger="mouseenter" popover-placement="right">Level: {{attributeValue.baseValue}} <span class="skill-entry-level-bonus" ng-if="attributeValue.bonusValue > 0">+ ({{attributeValue.bonusValue}})</span></span>
                        </h5>

                        <div class="progress">
                            <span class="progress-info ng-binding">{{attributeValue.actualXp}} / {{attributeValue.nextLevelXp}}</span>

                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{100 - (attributeValue.nextLevelXp - attributeValue.actualXp) / (attributeValue.xpBetweenLevels / 100)}}%;"></div>
                        </div>
                        <div ng-if="attributeValue.attribute.hasPage">
                            <img class="skill-entry-info-down-arrow" src="../../image/fw_char_status_arrow.png">
                            <!-- todo: only show this if the skill has its own page -->
                            <a href="/go/to/skill"><img class="skill-entry-info-link" src="../../image/cc_small_window_bot_arrow.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>