<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Combat</div>
    <div class="panel-body">
        <div class="text-center"><a ui-sref="map">Back to map...</a></div>
        <div class="media" ng-repeat="message in combatMessages">
            <div class="media-left" ng-if="message.icon">
                <img class="icon media-object" style="width: 32px;" ng-src="{{message.icon}}" ng-class="message.icon_color"/>
            </div>
            <div class="media-left" ng-if="!message.icon" style="min-width: 42px;"></div>
            <div class="media-body" style="vertical-align: middle;" ng-bind-html="message.message"></div>
        </div>
    </div>
</div>