<div class="panel panel-default exploration-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../image/icon/extra/map.png">
        <img class="panel-heading-icon-improved-holder" src="../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">Explore <small ng-if="!failedExploration">({{explorationResult.info.name}})</small></h3>
        <div  class="pull-right" ng-if="!failedExploration">
            <img ng-src="{{getRarityIcon()}}" style="    width: 32px;
    position: absolute;
    right: 26px;
    border-radius: 26px;
    z-index: 1;" tooltip-placement="bottom" uib-tooltip-html="getRarityText()" />
            <img ng-src="{{getTerrainImage()}}" style="    width: 70px;
    margin-top: -76px;
    margin-right: -20px;
    -webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));"/>
        </div>
    </div>
    <div class="panel-body" style="padding: 10px; padding-top: 15px;">
        <div class="exploration-entry-container" ng-repeat="explorationEntry in explorationResult.events">
            <!-- COMBAT -->
            <div class="race-info-text" ng-if="explorationEntry.eventType == 'COMBAT'">
                <div class="media" ng-repeat="message in explorationEntry.combatMessages">
                    <div class="media-left" ng-if="message.icon">
                        <img class="icon media-object" style="width: 40px;margin-left: 4px;margin-top: 4px;position: absolute;"
                             ng-src="{{getCombatIcon(message.icon)}}"/>
                        <img class="icon media-object" style="width: 48px;" src="../../image/icon/tgb_avatar_frame.png"/>
                    </div>
                    <div class="media-body text-center" style="font-weight:700;height: 48px;vertical-align: middle;" ng-if="!message.icon"
                         ng-bind-html="convertCombatMessage(message.message)"></div>
                    <div class="media-body" ng-if="message.icon" style="vertical-align: middle;" ng-bind-html="convertCombatMessage(message.message)"></div>
                </div>
                <div ng-if="!explorationEntry.status.playerDead">
                    <div class="row" ng-if="!explorationEntry.status.combatEnded && !explorationEntry.status.continued">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-12 text-center" style="font-size: 18px;">You</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="progress" style="height: 16px;margin-bottom: 10px;margin-top: 10px;margin-left: 10px;">
                                        <div class="progress-bar progress-bar-danger" role="progressbar"
                                             ng-style="{'width': getHealthPercent()+'%'}">
                                            <span class="progress-info" style="margin-left: -14px;">{{$root.user.life}} / {{$root.user.max_life}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="progress" style="height: 16px;margin-bottom: 10px;margin-left: 10px;">
                                        <div class="progress-bar progress-bar-info" role="progressbar"
                                             ng-style="{'width': getManaPercent()+'%'}">
                                            <span class="progress-info" style="margin-left: -14px;">{{$root.user.mana}} / {{$root.user.max_mana}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-offset-4 col-lg-4">
                            <div class="row">
                                <div class="col-lg-12 text-center" style="font-size: 18px;">Your opponent</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center" style="font-size: 18px;">???</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!explorationEntry.status.combatEnded && !explorationEntry.status.continued" style="    margin-top: 20px;">
                        <div class="col-lg-4">
                            <div>
                                <img src="../../image/papper_container_avatar_spell_frame.png" style="
    width: 100px;">
                                <img src="../../image/icon/combat/cast.png" style="    position: absolute;
    left: 20px;
    top: 5px;
    width: 59px;
    border-radius: 90px;">
                                <h4 class="text-center" style="    position: absolute;
    left: 31px;
    top: 14px;
    right: 0;
    vertical-align: middle;">Cast a spell</h4>
                            </div>
                            <div class="text-center" ng-if="!explorationEntry.status.combatEnded" style="width: 180px; margin-left: auto; margin-right: auto;">
                                <select class="form-control spell-select" ng-model="spellToUse.target" ng-options="spell.name for spell in usableSpells track by spell.id" ng-value="spell.id"></select>
                                <button class="button-default" ng-click="cast()" style="margin-top: 10px;">Cast</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <img src="../../image/papper_container_avatar_spell_frame.png" style="
    width: 100px;">
                                <img src="../../image/icon/combat/attack.png" style="    position: absolute;
    left: 20px;
    top: 5px;
    width: 59px;
    border-radius: 90px;">
                                <h4 class="text-center" style="    position: absolute;
    left: 0;
    top: 14px;
    right: 0;
    vertical-align: middle;">Attack</h4>
                            </div>
                            <div class="text-center" ng-if="!explorationEntry.status.combatEnded">
                                <button class="button-default" ng-click="attack()">Attack</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <img src="../../image/papper_container_avatar_spell_frame.png" style="
    width: 100px;">
                                <img src="../../image/icon/combat/use.png" style="    position: absolute;
    left: 20px;
    top: 5px;
    width: 59px;
    border-radius: 90px;">
                                <h4 class="text-center" style="    position: absolute;
    left: 31px;
    top: 14px;
    right: 0;
    vertical-align: middle;">Use an item</h4>
                            </div>
                            <div class="text-center" ng-if="!explorationEntry.status.combatEnded" style="width: 180px; margin-left: auto; margin-right: auto;">
                                <select class="form-control spell-select" ng-model="itemToUse.target" ng-options="item.name for item in usableItems track by item.id" ng-value="item.id"></select>
                                <button class="button-default" ng-click="use()" style="margin-top: 10px;">Use</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!explorationEntry.status.combatEnded && !explorationEntry.status.continued && !isQuest()">
                        <div class="col-lg-offset-4 col-lg-4">
                            <div>
                                <img src="../../image/papper_container_avatar_spell_frame.png" style="
    width: 100px;">
                                <img src="../../image/icon/combat/flee.png" style="    position: absolute;
    left: 20px;
    top: 5px;
    width: 59px;
    border-radius: 90px;">
                                <h4 class="text-center" style="    position: absolute;
    left: 31px;
    top: 14px;
    right: 0;
    vertical-align: middle;">Use an item</h4>
                            </div>
                            <div class="text-center" ng-if="!explorationEntry.status.combatEnded" style="width: 180px; margin-left: auto; margin-right: auto;">
                                <button class="button-default" ng-click="flee()">Flee</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" ng-if="explorationEntry.status.combatEnded && !explorationEntry.status.continued">
                        <button class="button-default" ng-click="continueExploring()">Continue</button>
                    </div>
                </div>
            </div>

            <!-- ATTRIBUTE_ATTEMPT -->
            <div class="race-info-text" ng-if="explorationEntry.eventType == 'ATTRIBUTE_ATTEMPT'">
                <div class="attribute-entry" marked="message.content" ng-repeat="message in explorationEntry.messages"></div>
            </div>

            <!-- TEXT -->
            <div ng-if="explorationEntry.eventType == 'TEXT'">
                <div marked="explorationEntry.content"></div>
            </div>

            <!-- MESSAGE BOX -->
            <div class="race-info-text" ng-if="explorationEntry.eventType == 'MESSAGE_BOX'">
                <div class="attribute-entry" marked="explorationEntry.content"></div>
            </div>

            <!-- OPTION -->
            <div ng-if="explorationEntry.eventType == 'OPTION'" class="description-holder">
                <p ng-repeat="option in explorationEntry.eventOptions">
                    <img src="../../image/common/bulletin/bulletin.png"> <a ng-click="callOption(option.optionId)" ng-bind="option.text"></a>
                </p>
            </div>

            <!-- QUEST -->
            <div ng-if="explorationEntry.eventType == 'QUEST'" class="description-holder">
                <h3 ng-bind="::explorationEntry.name" style="    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;"></h3>
                <div ng-bind="::explorationEntry.description" style="    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;"></div>

                <div class="row">
                    <div class="col-lg-offset-2 col-lg-4">
                        <button ng-click="callOption(explorationEntry.acceptQuestStage)" class="button-default btn-block">Accept</button>
                    </div>
                    <div class="col-lg-4">
                        <button ng-click="callOption(explorationEntry.declineQuestStage)" class="button-default btn-block">Decline</button>
                    </div>
                </div>
            </div>

            <!-- CONTINUE QUEST -->
            <div ng-if="explorationEntry.eventType == 'CONTINUE_QUEST'" class="description-holder">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4">
                        <button ng-click="explore(explorationEntry.questId)" class="button-default btn-block">Proceed</button>
                    </div>
                </div>
            </div>

            <!-- FINISH QUEST -->
            <div ng-if="explorationEntry.eventType == 'FINISH_QUEST'" class="description-holder">
                <h3 style="    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;">Congratulations!</h3>
                <div style="    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;">
                    You are successfully finished the quest!
                </div>
                <div style="    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;">
                    Your rewards are the following:
                </div>

                <ul>
                    <li ng-repeat="reward in explorationEntry.rewards" ng-bind="reward"></li>
                </ul>
            </div>
        </div>
    </div>
</div>