<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-icon">
            <img src="../../image/swords.png"/>
        </div>
        <h3 class="panel-title">News</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="news in newslist">
            <div class="news-entry">
                <div class="news-header">
                    <div class="news-icon">
                        <img src="../../image/header_icon_settings.png"/>
                    </div>
                    <h4 class="news-title" ng-bind="::news.title"></h4>

                    <div class="news-date" ng-bind="::news.releaseDate"></div>
                </div>
                <div class="news-body" ng-bind="::news.message"></div>
            </div>
            <div class="news-entry-separator" ng-if="!$last">
                <img src="../../image/seperator_2.png"/>
            </div>
        </div>
    </div>
</div>