<div class="panel panel-default panel-shadow">
    <div class="panel-heading">
        <h3 class="panel-title">Inn <small>(Drunken Dragoon)</small></h3>
        <div class="panel-heading-button-group">
            <button class="button-default">Services</button>
            <button ng-click="showChat()" class="button-default">Chat</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="inn-text-holder" style="margin: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus justo, suscipit ut mollis eu, tempus quis lacus. Duis rutrum, dui ut vulputate tempor, enim velit scelerisque ex, sit amet fermentum augue urna ac nibh. Proin vel quam ligula. Nullam accumsan euismod dolor at iaculis. Morbi lectus lacus, bibendum in laoreet nec, accumsan sed orci. Pellentesque efficitur, quam ut accumsan ultrices, eros ligula consectetur nulla, eu consectetur mi velit eget turpis. Etiam eget sem a mi laoreet iaculis. Duis eleifend elit auctor, bibendum nulla quis, pellentesque massa. Aenean fringilla mi placerat urna dictum, a dignissim dolor elementum. Vestibulum efficitur consectetur mattis.
                </div>
            </div>
        </div>
        <img style="width: 100%;" src="../../image/seperator_2.png"/>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" style="padding-right: 0;">
                <div style="margin: 12px;">
                    <img style="box-shadow: 0 0 4px rgba(245,222,179,0.6);" class="img-responsive" src="../../image/inn/small-serving-food.jpg" />
                </div>
                <div style="margin: 10px;">
                    <h3 style="margin-left: 10px;">Small amount of food</h3>
                </div>
                <div class="inn-text-holder" style="margin: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis sapien ac lacus volutpat, laoreet venenatis sem consectetur. Nulla facilisi. Proin mattis, velit et facilisis gravida, dui augue volutpat lectus, at tincidunt sem elit nec metus. Nunc pellentesque dui molestie ipsum ultricies, quis tristique est imperdiet. Integer enim tortor, suscipit sed ultrices sed, maximus et lacus.
                </div>
                <div style="margin: 10px;
    margin-right: 80px;
    margin-left: 80px;">
                    <button class="button-default max-width">Buy</button>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6" style="padding-left: 0;">
                <div style="margin: 12px;">
                    <img style="box-shadow: 0 0 4px rgba(245,222,179,0.6);" class="img-responsive" src="https://d2ujflorbtfzji.cloudfront.net/package-screenshot/eceb6943-377d-420e-957b-1916dbd25048_scaled.jpg" />
                </div>
                <div style="margin: 10px;">
                    <h3 style="margin-left: 10px;">Commoner's room</h3>
                </div>
                <div class="inn-text-holder" style="margin: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis sapien ac lacus volutpat, laoreet venenatis sem consectetur. Nulla facilisi. Proin mattis, velit et facilisis gravida, dui augue volutpat lectus, at tincidunt sem elit nec metus. Nunc pellentesque dui molestie ipsum ultricies, quis tristique est imperdiet. Integer enim tortor, suscipit sed ultrices sed, maximus et lacus.
                </div>
                <div style="margin: 10px;
    margin-right: 80px;
    margin-left: 80px;">
                    <button class="button-default max-width">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>