<div class="panel panel-default panel-shadow">
    <div class="panel-heading">
        <h3 class="panel-title">Inn <small>(Drunken Dragoon)</small></h3>
        <div class="panel-heading-button-group">
            <button class="button-default">Chat</button>
            <button ng-click="showServices()" class="button-default">Services</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="inn-text-holder" style="margin: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus justo, suscipit ut mollis eu, tempus quis lacus. Duis rutrum, dui ut vulputate tempor, enim velit scelerisque ex, sit amet fermentum augue urna ac nibh. Proin vel quam ligula. Nullam accumsan euismod dolor at iaculis. Morbi lectus lacus, bibendum in laoreet nec, accumsan sed orci. Pellentesque efficitur, quam ut accumsan ultrices, eros ligula consectetur nulla, eu consectetur mi velit eget turpis. Etiam eget sem a mi laoreet iaculis. Duis eleifend elit auctor, bibendum nulla quis, pellentesque massa. Aenean fringilla mi placerat urna dictum, a dignissim dolor elementum. Vestibulum efficitur consectetur mattis.

                    Nullam fermentum sagittis nulla non aliquam. Phasellus eu massa nec erat porta vehicula nec a mauris. Vivamus eget leo et eros consectetur semper. Integer eleifend consectetur consectetur. Nullam nunc quam, pretium in ullamcorper in, mollis lacinia augue. Quisque ultricies enim eu lacus sollicitudin, sed pharetra urna ultricies. Nulla maximus neque vitae ligula dapibus, a porta ante blandit. Cras metus tellus, suscipit eget libero a, commodo ultrices est. Ut ultricies, nulla eu molestie tristique, orci est volutpat eros, ac tincidunt nisi orci suscipit eros.
                </div>
            </div>
        </div>
        <img style="width: 100%;" src="../../image/seperator_2.png"/>
        <h4 style="text-align: center;
    margin-bottom: 0;">Chat with the locals</h4>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="inn-text-holder" style="margin: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus justo, suscipit ut mollis eu, tempus quis lacus. Duis rutrum, dui ut vulputate tempor, enim velit scelerisque ex, sit amet fermentum augue urna ac nibh. Proin vel quam ligula. Nullam accumsan euismod dolor at iaculis. Morbi lectus lacus, bibendum in laoreet nec, accumsan sed orci. Pellentesque efficitur, quam ut accumsan ultrices, eros ligula consectetur nulla, eu consectetur mi velit eget turpis. Etiam eget sem a mi laoreet iaculis. Duis eleifend elit auctor, bibendum nulla quis, pellentesque massa. Aenean fringilla mi placerat urna dictum, a dignissim dolor elementum. Vestibulum efficitur consectetur mattis.

                    Nullam fermentum sagittis nulla non aliquam. Phasellus eu massa nec erat porta vehicula nec a mauris. Vivamus eget leo et eros consectetur semper. Integer eleifend consectetur consectetur. Nullam nunc quam, pretium in ullamcorper in, mollis lacinia augue. Quisque ultricies enim eu lacus sollicitudin, sed pharetra urna ultricies. Nulla maximus neque vitae ligula dapibus, a porta ante blandit. Cras metus tellus, suscipit eget libero a, commodo ultrices est. Ut ultricies, nulla eu molestie tristique, orci est volutpat eros, ac tincidunt nisi orci suscipit eros.
                </div>
            </div>
        </div>
    </div>
</div>