<div class="panel panel-default panel-shadow button-panel journal-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../image/icon/extra/books.png">
        <img class="panel-heading-icon-improved-holder" src="../../image/m_action_frame.png"/>
        <h3 class="panel-title">Journal</h3>
    </div>
    <div class="panel-body">
        <div class="journal-head-icon-container row">
            <div class="col-xs-offset-2 col-xs-4 big-button" ng-click="changeType('item')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/items.png"/>
                <span class="big-button-text">Items</span>
            </div>
            <div class="col-xs-4 big-button" ng-click="changeType('monster')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/monsters.png"/>
                <span class="big-button-text">Monsters</span>
            </div>
        </div>
        <h4 class="text-center journal-header">{{type | capitalize:'first'}}s</h4>
        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <table class="journal-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Info</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="entry in list" ng-if="$index % 2 === 0">
                        <td>{{entry.entryName}}</td>
                        <td class="text-center" style="width: 50px;">
                            <a ui-sref="journal_entry({type: type, entryId: entry.entryId})"><span class="glyphicon glyphicon-zoom-in journal-item-watch"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <table class="journal-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Info</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="entry in list" ng-if="$index % 2 === 1">
                        <td>{{entry.entryName}}</td>
                        <td class="text-center" style="width: 50px;">
                            <a ui-sref="journal_entry({type: type, entryId: entry.entryId})"><span class="glyphicon glyphicon-zoom-in journal-item-watch"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>