<div class="panel panel-default panel-shadow button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../image/icon/extra/books.png">
        <img class="panel-heading-icon-improved-holder" src="../../image/m_action_frame.png"/>
        <h3 class="panel-title">Journal entry <small>({{entry.name}})</small></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 big-button" ui-sref="journal(type)">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/journal.png"/>
                <span class="big-button-text">Back</span>
            </div>
        </div>
        <h4 class="text-center journal-header" ng-bind="entry.name"></h4>
        <div class="row" ng-if="type === 'item'">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <dl class="inventory-popup-definition-list">
                    <dt>Name:</dt>
                    <dd ng-bind="::entry.name"></dd>
                    <dt>Type:</dt>
                    <dd ng-bind="::entry.type"></dd>
                    <dt>Weight:</dt>
                    <dd ng-bind="::entry.weight + ' kg'"></dd>
                    <dt>Equipment:</dt>
                    <dd ng-bind="entry.equipment ? 'Yes' : 'No'"></dd>
                </dl>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <dl class="inventory-popup-definition-list">
                    <dt ng-if="entry.requirements.length > 0">Requirements:</dt>
                    <dd ng-repeat="requirement in entry.requirements" ng-bind="::requirement.value + ' - ' + requirement.attribute"></dd>
                    <dt ng-if="entry.modifiers.length > 0">Modifiers:</dt>
                    <dd ng-repeat="modifier in entry.modifiers" ng-bind="::modifier.value + ' - ' + modifier.attribute"></dd>
                </dl>
            </div>
        </div>
        <div class="row" ng-if="type === 'monster'">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <dl class="inventory-popup-definition-list">
                    <dt>Level:</dt>
                    <dd ng-bind="::entry.level"></dd>
                    <dt>Attack type:</dt>
                    <dd ng-bind="::entry.attackType | capitalize:'first'"></dd>
                    <dt>Attack:</dt>
                    <dd ng-bind="::entry.attack"></dd>
                    <dt>Defense:</dt>
                    <dd ng-bind="::entry.defense"></dd>
                </dl>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <dl class="inventory-popup-definition-list">
                    <dt>Initiation:</dt>
                    <dd ng-bind="::entry.initiation"></dd>
                    <dt>Aiming:</dt>
                    <dd ng-bind="::entry.aiming"></dd>
                    <dt>Health:</dt>
                    <dd ng-bind="::entry.health"></dd>
                    <dt>Damage:</dt>
                    <dd ng-bind="::entry.damage"></dd>
                    <dt>Ranged damage:</dt>
                    <dd ng-bind="::entry.rangedDamage"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>