<div class="panel panel-default">
	<div class="panel-heading">
		<img class="panel-heading-icon-improved" src="../../image/icon/extra/books.png">
		<img class="panel-heading-icon-improved-holder" src="../../image/panel/header/panel-header-icon-background.png"/>
		<h3 class="panel-title">Knowledge base</h3>
	</div>
	<div class="panel-body" style="padding: 6px;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="knowledge-base-container">
					<img class="knowledge-base-header-image img-responsive hidden-xs" src="../../image/not_container_2.png">
					<h3 class="text-center knowledge-base-header">Table of contents</h3>
				</div>
				<ul class="list-unstyled knowledge-base-toc">
					<li class="knowledge-base-toc-list-big">
						<img style="width: 48px;" src="../../image/knowledge_base/question_mark.png"> <span ng-click="scrollTo('what-is-dns')">What is Daggers & Sorcery?</span>
					</li>
					<li class="knowledge-base-toc-list-big">
						<img style="width: 48px;" src="../../image/knowledge_base/hammer.png"> <span ng-click="scrollTo('items')">Items</span>
						<div class="row" style="margin-left: 50px;">
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-recipes')">
									<img style="width: 48px;float:left;" src="../../image/knowledge_base/recipe.png">
									<span style="line-height: 44px;">Recipes</span>
								</a>
							</div>
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-materials')">
									<img style="width: 48px;float:left;" src="../../image/knowledge_base/wood.png">
									<span style="line-height: 44px;">Materials</span>
								</a>
							</div>
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-weapons')">
									<img style="width: 48px;float:left;" src="../../image/knowledge_base/weapon.png">
									<span style="line-height: 44px;">Weapons</span>
								</a>
							</div>
						</div>
						<div class="row under-row" style="margin-left: 50px;margin-top: 14px;">
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-armor')">
									<img style="width: 48px;margin-top: -5px;" src="../../image/knowledge_base/armor.png">
									<span>Armor</span>
								</a>
							</div>
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-unidentified')">
                                    <img style="width: 48px;" src="../../image/knowledge_base/unidentitem.png">
									<span>Unidentified items</span>
								</a>
							</div>
							<div class="col-lg-4">
								<a class="btn btn-primary" ng-click="scrollTo('items-coins')">
									<img style="width: 48px;" src="../../image/knowledge_base/coin.png">
									<span>Coins</span>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="knowledge-base-container" id="what-is-dns">
					<img class="knowledge-base-header-image img-responsive hidden-xs" src="../../image/not_container_2.png">
					<h3 class="text-center knowledge-base-header">What is Daggers & Sorcery?</h3>
				</div>
				<img style="float: right;margin-left: 10px;filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));" src="../../image/knowledge_base/question_mark.png">
				<p class="knowledge-base-text">
					Daggers & Sorcery is a text-based role-playing game, where you can play as a character belonging to one of 8 unique races in a high fantasy
					world. You can craft your own items, train in many various skills, crush enemies with a hammer, shoot them with a bow, blow them up with a
					fireball, or anything else. But it will not always be easy. You will have to survive countless battles with as many various enemies ranging
					from puny rats over undead monsters to mighty bosses. All that narrated for you through immersive texts containing complex stories and plot
					twists. The game is of course quite complicated and contains a whole lot of features and that’s why we’re giving you this Manual describing
					most of the features. If you encounter a problem and don’t understand it even AFTER reading about it in the Manual (or if it isn’t mentioned
					there), feel free to ask us in the Forum section or the Chat in the local Inn.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="knowledge-base-container" id="items">
					<img class="knowledge-base-header-image img-responsive hidden-xs" src="../../image/not_container_2.png">
					<h3 class="text-center knowledge-base-header">Items</h3>
				</div>
				<img style="float: right;margin-left: 10px;filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));" src="../../image/knowledge_base/hammer.png">
				<p class="knowledge-base-text">
					Items are all the things you find during your adventures or buy in a shop or market and every one of them can somehow help you in your
					effort to become better. They are shown in your inventory with one or two icons next to each. Hovering your cursor over the eye icon next
					to an item will show a tooltip window containing the item’s properties. Clicking the arrow icon next to some items will result in equipping
					the item in one its slot on your character (each slot can only contain one item at any given time) and clicking the droplet icon next to
					some other items will use this consumable item (like food, spell tomes, recipes, potions…). One of the properties every item has is weight.
					And as you are no Hercules (even though it might be your character‘s name), you can’t carry an infinite amount of items. The total weight
					you can carry at once is defined by your strength.
				</p>

				<h4 id="items-recipes">
					<img class="knowledge-base-icon" src="../../image/knowledge_base/recipe.png"> Recipes
				</h4>
				<p class="knowledge-base-text">
					You can use recipes to learn to create new items of various types. After using a recipe (via the box icon next to it) the item it describes
					will appear in one of your crafting skill menus where you can then craft the item if you fulfill the necessary requirements. You only need
					to use a recipe once to be able to create the specific item anytime.
				</p>

				<h4 id="items-materials">
					<img class="knowledge-base-icon" src="../../image/knowledge_base/wood.png"> Materials
				</h4>
				<p class="knowledge-base-text">
					One of the most common types of items you receive in your adventures are materials. Materials are consumed when you craft items.
				</p>

				<h4 id="items-weapons">
					<img class="knowledge-base-icon" src="../../image/knowledge_base/weapon.png"> Weapons
				</h4>
				<p class="knowledge-base-text">
					Much of Daggers & Sorcery consists of fighting. You can of course fight barehanded but if you want to deal some serious damage to your
					enemies, you will need some weapons. There are three basic types of weapons – Melee, Ranged and Magic. Melee weapons (like daggers, swords,
					axes, hammers, pikes…) use your Dexterity and Swiftness attributes to determine the chance for you to hit an enemy and Strength to determine
					the damage outcome of a successful hit. For Ranged weapons (like bows and throwing weapons) your Dexterity and Perception are used for your
					hit chance and Dexterity for damage. With Magic weapons (e. g. staffs and wands) you need Intelligence and Wisdom to hit and Willpower to
					deal damage. Every weapon adds some modifiers to the attack and damage type it uses.
				</p>

				<h4 id="items-armor">
					<img class="knowledge-base-icon" src="../../image/knowledge_base/armor.png"> Armor
				</h4>
				<p class="knowledge-base-text">
					To better protect yourself in a fight it is useful to wear some armor. There are three types of armor – Light, Heavy and Robe – and each
					gives you protection from attacks. Light armor is best suited for rogue-like or ranged characters since it helps improve your Dexterity and
					gives a smaller bonus to Defence (chance to avoid being hit), but also boosts your Aiming (chance to hit with ranged attacks) and Spell
					Resistance. Heavy armor on the other hand is more useful for tanky warrior characters. It gives a greater boost to Defense, but decreases
					your Aiming and Magic Attack. It also helps increase your Strength attribute. Robe armor is great for mages and sorcerers. It gives just a
					small boost to defence, but increases your max Mana and Magic Attack. Using Robe armor trains your Intelligence as well.
				</p>

				<h4 id="items-unidentified">
                    <img class="knowledge-base-icon" src="../../image/knowledge_base/unidentitem.png"> Unidentified items
                </h4>
				<p class="knowledge-base-text">
					Sometimes it can happen that you find an item and know nothing about what it can do. Such item will then appear in you inventory as
					“Unidentified Item”. You can equip this item but the problem is that you don’t know what bonuses you get from it. To identify an item you
					first need to learn the “Lesser identification” spell by using the respective spell tome. Afterwards the spell will appear at the very
					bottom of your character page with an eye and a box icons next to it. Clicking the box icon will show you a table containing all your
					Unidentified items and you can Identify them by clicking the “Identify” button to the right of each item.
				</p>

				<h4 id="items-coins">
					<img class="knowledge-base-icon" src="../../image/knowledge_base/coin.png"> Coins
				</h4>
				<p class="knowledge-base-text">
					Unlike all the other items in your inventory, the ones in the “Money” section are special in many ways. First of all they don’t have any
					weight because nobody is dumb enough to carry all their hardly gained precious metal on them. Instead you keep it all in the local bank, so
					the weight just doesn't bother you. The second weird property of coins is that they only appear in your inventory on the “Character” page.
					When shopping, the total value of your coins is shown on the top of the page.
				</p>
			</div>
		</div>
	</div>
</div>