<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <game-map position="position"></game-map>
                <div style="position: absolute;
  bottom: 10px;
  right: 10px;background-color: #F2E9D0;
  border-radius: 4px;
  padding: 10px;">
                    <table style="margin-left: auto;margin-right: auto;">
                        <tr>
                            <td></td>
                            <td><a class="btn btn-default" ng-click="move('UP')"><span
                                    class="glyphicon glyphicon-chevron-up"></span></a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a class="btn btn-default" ng-click="move('LEFT')"><span
                                    class="glyphicon glyphicon-chevron-left"></span></a></td>
                            <td></td>
                            <td><a class="btn btn-default" ng-click="move('RIGHT')"><span
                                    class="glyphicon glyphicon-chevron-right"></span></a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a class="btn btn-default" ng-click="move('DOWN')"><span
                                    class="glyphicon glyphicon-chevron-down"></span></a></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="map-event-holder">
                    <table class="table" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>Object</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="object in objects">
                        <tr>
                            <td ng-bind="object.name"></td>
                            <td style="width: 15%;"><a ng-click="attack(object.id)">Attack</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>