<div class="panel panel-default map-page">
    <div class="panel-heading">
        <h3 class="panel-title">Explore</h3>
    </div>
    <div class="panel-body">
        <h4>Where do you want to explore?</h4>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Level</th>
                            <th class="text-center">Explore</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Farmfields</td>
                            <td class="text-center">(1 - 3)</td>
                            <td class="text-center"><button class="button-default">Explore</button></td>
                        </tr>
                        <tr>
                            <td>Whispering woods</td>
                            <td class="text-center">(4 - 7)</td>
                            <td class="text-center"><button class="button-default">Explore</button></td>
                        </tr>
                        <tr>
                            <td>Woodland cemetery</td>
                            <td class="text-center">(8 - 10)</td>
                            <td class="text-center"><button class="button-default">Explore</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="map-text-holder">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum nisl ligula. Vivamus cursus turpis
            eu iaculis imperdiet. Integer posuere auctor arcu ac consequat. Suspendisse varius tincidunt ex, iaculis
            dignissim est tincidunt in. Aenean ut suscipit dolor, nec blandit turpis. Maecenas gravida sodales felis et
            consequat. Integer eget lorem elementum, commodo ex a, laoreet est. Integer condimentum, nulla at
            ullamcorper vestibulum, elit ipsum luctus leo, id tincidunt sapien lacus vel augue. Nunc dictum et odio ac
            dapibus.
        </div>
    </div>
</div>