<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading-icon">
            <img src="../../image/swords.png"/>
        </div>
        <h3 class="panel-title">Welcome</h3>
    </div>
    <div class="panel-body" style="padding: 6px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img class="img-responsive" src="../../image/not_container_2.png">
                <h1 class="text-center" style="margin-top: -84px;margin-bottom: 40px;">Prelude</h1>
            </div>
        </div>

        <p>
            You are one of these explorers. After leaving your home and having no further prospects, you decide to join
            this bold quest. With high hopes, you sign your life away on an official document and are ushered aboard the
            Paloma. Suddenly, you’re surrounded by seasoned explorers and warriors with grand stories of their past
            exploits. There are humans, dwarves, elves, dark elves, and the occasional gnome, and you have never seen
            such a diverse crowd in your entire life. Before you can change your mind, the port is shrinking into the
            distance.
        </p>

        <p>
            Once the ship is on course, Captain Lombardi, the leader of the expedition, introduces himself with a
            booming
            voice and states the rules for the voyage. Most of his rules were described in your contract, and any
            offender to these rules will walk the plank. After he finishes his speech, the captain returns to the stern
            where he begins speaking with his first mate. You see them holding a gigantic map, and you yearn for a map
            of your own, wishing you knew the whereabouts of your destination.
        </p>

        <p>
            While pondering the next chapter of your life, you lean against the ship’s railing and watch the other
            explorers. You wonder about each of their pasts and from which countries they hailed from. A few of the
            explorers must be already acquainted since they were either huddling in groups or keeping their distance
            with solemn expressions. At the moment, nobody seems particularly interested in you, and you feel like that
            is a good thing.
        </p>

        <p>
            As sunset approaches, the tensions have lowered, and the explorers have settled down with the crew members
            to
            have supper. The elves, all seven of them, entertained the company with a charming story about their
            midsummer festivals. They detail how midsummer is an essential holiday in their culture and how they felt
            shameful for missing the celebration of the summer solstice, the longest day of the year. To the elves, this
            tradition appeased nature and would bring plentiful harvest and prosperity, and they propose having their
            own festival aboard the ship. That’s when the merrymaking begins.
        </p>

        <p>
            The elves remove lutes and ocarinas and play elvish ballads while the crew clap their hands and stomp the
            feet. Meanwhile, you try to eat your supper in relative peace until the elves remove colorful ribbons and
            transform the mast into a maypole. Before you know it, a female elf hands you a teal ribbon and urges you to
            celebrate with the others. The only person opposed to the festivities is Captain Lombardi, but even his
            boisterous laugh echoes over the ship by nightfall. You suspect the seemingly endless kegs of ale from the
            Paloma’s lower levels.
        </p>

        <p>
            When you wake in the morning, everything is silent. You walk to the upper decks and study the remains of the
            previous night. A few of the colorful ribbons are still wrapped around the mast, but the majority of them
            are strewn across the deck. The first mate orders you to clean up the mess, and you oblige. You were one of
            the few who had not been drinking ale or wine last night, so at the moment, it was the least you could do.
            As you reach down to collect a purple ribbon, you stumble as a massive wave slams against the Paloma.
        </p>

        <p>
            An icy wind billows out of nowhere, and large thunderclouds appear in the distance, roiling toward the ship
            like a starved beast. The gusts rip the ribbon from your grasp and carry it far away. The grey sky
            transforms before your eyes, turning as dark as pitch, and you stare upward as the clouds release their
            burden. Torrential rain pours from above, and you’re swept off your feet by a wave and are nearly dumped
            overboard. You cling to the railing as the ship comes alive. The crew members scatter to their stations,
            trying to navigate the Paloma through the harsh storm. A sharp whistling sound fills the air, and you hear
            malevolent whispers on the wind. As the first bolt of lightning cracks, you’re temporarily blinded by the
            sudden light, but you can just barely see a host of wispy phantoms surrounding the ship. None of your
            company seem to notice these creatures, and before you can warn them, you hear a shuddering crack.
        </p>

        <p>
            A massive hole appears on the vessel’s starboard side, allowing seawater to flood inward. With each passing
            moment, the ship sinks lower to its watery demise. You make a rash decision and leap overboard. Luckily,
            there are pieces of driftwood to keep you afloat, and you paddle far away from the sinking ship. Before you
            can swim more than a few yards, a vortex appears around the ship and sucks it beneath the surface. You cling
            to the piece of driftwood for dear life as water crashes over your head, submerging you again and again
            until you fall unconscious. Before the storm disappears, it washes you up onto the shore of Everwindy
            Coast.
        </p>

        <p>
            PARAGRAPH MISSING HOW THE USER WENT TO SEVGARD!
        </p>

        <p class="text-center">
            <a ng-click="next()" style="cursor: pointer;">To the character page...</a>
        </p>
    </div>
</div>