<div class="panel panel-default register">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../image/icon/extra/registration.png">
        <img class="panel-heading-icon-improved-holder" src="../../image/panel/header/panel-header-icon-background.png"/>
				<h3 class="panel-title">Registration</h3>
		</div>
    <div class="panel-body" style="margin-top: 6px;">
        <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
            <div ng-repeat="error in errorList" ng-bind="error"></div>
        </div>
        <form class="form-horizontal" autocomplete="off" name="registration_form"  ng-submit="submit(registration_form.$valid)" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.email.$invalid && (registration_form.email.$touched || registration_form.$submitted), 'has-success': registration_form.email.$valid && registration_form.email.$touched}">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="user.email" ng-required="true">
                    <div ng-show="registration_form.email.$touched || registration_form.$submitted" ng-messages="registration_form.email.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The email is required.</div>
                        <div class="help-block" ng-message="email">The email must be a valid email address.</div>
                    </div>
                    <span ng-show="registration_form.email.$touched || registration_form.$submitted" ng-class="registration_form.email.$invalid && (registration_form.email.$touched || registration_form.$submitted) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.username.$invalid && (registration_form.username.$touched || registration_form.$submitted), 'has-success': registration_form.username.$valid && registration_form.username.$touched}">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="username" ng-minlength="6" ng-maxlength="16" ng-pattern="/^[0-9a-zA-Z]+$/" placeholder="Username" ng-model="user.username" ng-required="true">
                    <div ng-show="registration_form.username.$touched || registration_form.$submitted" ng-messages="registration_form.username.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The username is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum username length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum username length is 16 characters.</div>
                        <div class="help-block" ng-message="pattern">The username can only contain letters (a-z, A-Z) or numbers.</div>
                    </div>
                    <span ng-show="registration_form.username.$touched || registration_form.$submitted" ng-class="registration_form.username.$invalid && (registration_form.username.$touched || registration_form.$submitted) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.passwordFirst.$invalid && (registration_form.passwordFirst.$touched || registration_form.$submitted), 'has-success': registration_form.passwordFirst.$valid && registration_form.passwordFirst.$touched}">
                <label for="passwordFirst" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="passwordFirst" id="passwordFirst" placeholder="Password" ng-minlength="6" ng-maxlength="16" ng-model="user.passwordFirst" ng-required="true">
                    <div ng-show="registration_form.passwordFirst.$touched || registration_form.$submitted" ng-messages="registration_form.passwordFirst.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The password is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum password length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum password length is 16 characters.</div>
                        <div class="help-block" ng-message="equals">The two password must be equals!</div>
                    </div>
                    <span ng-show="registration_form.passwordFirst.$touched || registration_form.$submitted" ng-class="registration_form.passwordFirst.$invalid && (registration_form.passwordFirst.$touched || registration_form.$submitted) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : registration_form.passwordSecond.$invalid && (registration_form.passwordSecond.$touched || registration_form.$submitted), 'has-success': registration_form.passwordSecond.$valid && registration_form.passwordSecond.$touched}">
                <label for="passwordSecond" class="col-sm-2 control-label">Password again</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="passwordSecond" id="passwordSecond" placeholder="Password again" ng-minlength="6" ng-maxlength="16" ng-model="user.passwordSecond" ng-required="true" equals="{{user.passwordFirst}}">
                    <div ng-show="registration_form.passwordSecond.$touched || registration_form.$submitted" ng-messages="registration_form.passwordSecond.$error" ng-messages-multiple="true" role="alert">
                        <div class="help-block" ng-message="required">The password is required.</div>
                        <div class="help-block" ng-message="minlength">The minimum password length is 6 characters.</div>
                        <div class="help-block" ng-message="maxlength">The maximum password length is 16 characters.</div>
                        <div class="help-block" ng-message="equals">The two password must be equals!</div>
                    </div>
                    <span ng-show="registration_form.passwordSecond.$touched || registration_form.$submitted" ng-class="registration_form.passwordSecond.$invalid && (registration_form.passwordSecond.$touched || registration_form.$submitted) ? 'glyphicon-warning-sign' : 'glyphicon-ok'" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Race</label>
                <div class="col-sm-10">
                    <div class="text-center">
                        <img style="max-height: 200px;" ng-src="{{getRaceImage(race[visibleRace].id)}}" />
                    </div>
                    <div class="text-center race-paging-holder">
                        <div class="row">
                            <div class="col-sm-4 text-right">
                                <button type="button" class="button-default btn-block" ng-click="decreaseRace()">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-top: -8px;"></span>
                                </button>
                            </div>
                            <div class="col-sm-4" style="font-size: 30px; padding-top: 4px;">
                                <span class="race-name-holder">~ <span ng-bind="race[visibleRace].name"></span> ~</span>
                            </div>
                            <div class="col-sm-4 text-left">
                                <button type="button" class="button-default btn-block" ng-click="increaseRace()">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-top: -8px;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="bold italic race-info-header" style="margin-top: 6px;">Racial modifiers:</div>
                        <div ng-if="raceAttributeModifierCount(visibleRace) > 0">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6" ng-repeat="bonus in race[visibleRace].attributeBonus">
                                    <div class="clearfix" ng-if="$index % 2 == 0"></div>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 14px; padding-left: 30px;" ng-style="(bonus.value > 0) ? {color: 'lightgreen'} : {color: 'red'}">
                                            {{bonus.value}}%
                                        </div>
                                        <div class="col-sm-10 col-md-10 col-lg-10">
                                            <img class="img-circle attribute-icon" popover-html-unsafe="{{attributeDescriptionPopover}}" popover-trigger="mouseenter" ng-src="{{getAttributeImage(bonus.id)}}" style="margin-top: -10px;">
                                            <img class="attribute-icon-holder" src="../../image/common/frame/icon_frame.png" style="margin-top: -10px;">
                                            <span class="attribute-name">{{bonus.attribute}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <span class="italic" style="font-weight:700;" ng-if="raceAttributeModifierCount(visibleRace) == 0">Humans doesn't have any advantages nor disadvantages.</span>
                        </div>
                        <div class="bold italic race-info-header">Description:</div>
                        <div class="race-info-text" marked="race[visibleRace].description"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    <button type="submit" class="button-default" ng-disabled="userForm.$invalid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>