<div class="panel panel-default panel-shadow">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
        <h4 class="text-center">Combat settings</h4>
        <table class="table">
            <tr>
                <th>Type</th>
                <th>Use</th>
                <th>Trigger</th>
                <th>Target</th>
                <th>Edit</th>
            </tr>
            <tr ng-repeat="setting in settings">
                <td>{{setting.type}}</td>
                <td>{{setting.use}}</td>
                <td>{{setting.trigger}}</td>
                <td>{{setting.target}}</td>
                <td class="text-center">
                    <button class="button-default" ng-click="remove(setting.id)">X</button>
                </td>
            </tr>
            <tr>
                <td>
                    <select ng-change="refreshUse()" class="form-control" ng-model="newSetting.type">
                        <option value="item" selected="selected">Item</option>
                        <option value="spell">Spell</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" ng-model="newSetting.use"  ng-options="usable.name for usable in usables track by item.id" ng-value="usable.id"></select>
                </td>
                <td>
                    <select ng-change="refreshTarget()" class="form-control" ng-model="newSetting.trigger">
                        <option value="turn">n-th turn</option>
                        <option value="health">Health under n-%</option>
                        <option value="mana">Mana under n-%</option>
                        <option value="monster">Specific monster</option>
                    </select>
                </td>
                <td>
                    <input ng-show="!showMonsterSelector" class="form-control" ng-model="newSetting.target" type="{{targetType}}" value="10"/>
                    <select ng-show="showMonsterSelector" class="form-control" ng-model="newSetting.targetMonster"  ng-options="monster.name for monster in monsterList track by monster.id" ng-value="monster.id"></select>
                </td>
                <td class="text-center">
                    <button class="button-default" ng-click="saveNew()">S</button>
                    <button class="button-default" ng-click="clearNew()">X</button>
                </td>
            </tr>
        </table>
        <h4 class="text-center">Other</h4>
        <table class="table">
            <tr>
                <td style="width:35%;">Scavenging enabled:</td>
                <td style="width:15%;"><input type="checkbox" ng-model="otherSettings.scavengingEnabled"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center"><button class="button-default" ng-click="saveOtherSettings()">Save</button></td>
            </tr>
        </table>
    </div>
</div>