<div class="panel panel-default panel-shadow button-panel shop">
    <div class="panel-heading">
        <h3 class="panel-title">Shop
            <small ng-bind="'('+shopData.definition.name+')'"></small>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-4 big-button" ng-click="setShopPage('shop')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/buy.png"/>
                <span class="big-button-text">Buy</span>
            </div>
            <div class="col-xs-4 big-button" ng-click="setShopPage('player')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/sell.png"/>
                <span class="big-button-text">Sell</span>
            </div>
        </div>
        <div ng-show="shopPage === 'player'">
            <h3 class="text-center">Your inventory</h3>
            <div class="row">
                <div class="col-lg-8 text-center" style="font-size: 18px;">
                    Item
                </div>
                <div class="col-lg-2 text-center" style="font-size: 18px;">
                    Price
                </div>
            </div>
            <div ng-repeat="type in shopData.items">
                <h4 ng-bind="type.typeName"></h4>
                <div class="row" ng-repeat="item in type.items">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-1 text-center">
                                <span class="badge text-center" style="margin-left: 20px;" ng-bind="item.amount"></span>
                            </div>
                            <div class="col-lg-7">{{item.definition.name}}
                                <span class="glyphicon glyphicon-eye-open inventory-entry-popup-icon" popover-html-unsafe="{{inventoryPopover}}" popover-trigger="mouseenter" popover-placement="right"></span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <span>{{item.price % 100}} <img src="../../image/icon/shop/bronze.png" style="width:16px;"></span>
                                <span ng-if="item.price > 100">{{floor(item.price / 100)}} <img src="../../image/icon/shop/silver.png" style="width:16px;"></span>
                                <span ng-if="item.price > 10000">{{floor(item.price / 10000)}} <img src="../../image/icon/shop/gold.png" style="width:16px;"></span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <button class="button-default shop-button" style="width: 100%; margin-left: -40px;" ng-click="sellItem(item.definition.id)">
                                    Sell
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="shopPage === 'shop'">
            <h3 class="text-center">Shop inventory</h3>
            <div class="row">
                <div class="col-lg-8 text-center" style="font-size: 18px;">
                    Item
                </div>
                <div class="col-lg-2 text-center" style="font-size: 18px;">
                    Price
                </div>
            </div>
            <div ng-repeat="type in shopData.items">
                <h4 ng-bind="type.typeName"></h4>
                <div class="row" ng-repeat="item in type.items">
                    <div class="col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
                        <div class="row">
                            <div class="col-lg-1 text-center">
                                <span class="badge text-center" style="margin-left: 20px;" ng-bind="item.amount"></span>
                            </div>
                            <div class="col-lg-6">{{item.definition.name}}
                                <span class="glyphicon glyphicon-eye-open inventory-entry-popup-icon" popover-html-unsafe="{{inventoryPopover}}" popover-trigger="mouseenter" popover-placement="right"></span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span>{{item.price % 100}} <img src="../../image/icon/shop/bronze.png" style="width:16px;"></span>
                                <span ng-if="item.price > 100">{{floor(item.price / 100)}} <img src="../../image/icon/shop/silver.png" style="width:16px;"></span>
                                <span ng-if="item.price > 10000">{{floor(item.price / 10000)}} <img src="../../image/icon/shop/gold.png" style="width:16px;"></span>
                            </div>
                            <div class="col-lg-2 text-center">
                                <button class="button-default shop-button" style="width: 100%; margin-left: -40px;" ng-click="buyItem(item.definition.id)">
                                    Buy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>