<div class="panel panel-default button-panel shop-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../image/icon/extra/shop.png">
        <img class="panel-heading-icon-improved-holder" src="../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">
            Shop
            <small ng-bind="'('+shopData.definition.name+')'"></small>
        </h3>
    </div>
    <div class="panel-body">
        <img class="shop-top-image img-responsive" src="../../image/shop/background.png">
        <div class="row big-button-container">
            <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 big-button" ng-click="setShopPage('shop')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/buy.png"/>
                <span class="big-button-text">Buy</span>
            </div>
            <div class="col-md-4 col-lg-4 big-button" ng-click="setShopPage('player')">
                <img src="../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../image/icon/extra/sell.png"/>
                <span class="big-button-text">Sell</span>
            </div>
        </div>
        <div class="shop-inner-container">
            <div ng-show="shopPage === 'player'">
                <h3 class="text-center">Your inventory</h3>
                <div class="shop-money-container text-center">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-3">Your money:</div>
                        <div class="col-lg-1">
                            {{shopData.money.gold}}
                            <img class="shop-money-icon" src="../../image/icon/shop/gold.png">
                        </div>
                        <div class="col-lg-1">
                            {{shopData.money.silver}}
                            <img class="shop-money-icon" src="../../image/icon/shop/silver.png">
                        </div>
                        <div class="col-lg-1">
                            {{shopData.money.bronze}}
                            <img class="shop-money-icon" src="../../image/icon/shop/bronze.png">
                        </div>
                    </div>
                </div>
                <div class="shop-search-container row">
                    <div class="col-lg-12">
                        <label for="item-name-for-sell">Item name</label>
                        <div class="description-holder">
                            <input class="form-control" id="item-name-for-sell" ng-model="item.definition.name"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 text-center" style="font-size: 18px;">
                        Item
                    </div>
                    <div class="col-lg-2 text-center" style="font-size: 18px;">
                        Price
                    </div>
                </div>
                <div ng-repeat="type in shopData.items" ng-if="(type.items  | filter:item).length > 0">
                    <h4><img style="width: 40px;filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));" ng-src="{{getItemTypeImage(type.typeName)}}"> {{type.typeName}}</h4>
                    <div class="description-holder" style="padding: 5px;">
                        <div class="row" ng-repeat="item in type.items | filter:item">
                            <div class="col-sm-12 col-md-12 col-lg-12" style="line-height: 2.6;">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 text-center shop-entry-text">
                                        <span class="badge text-center" ng-bind="item.amount"></span>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 shop-entry-text">
                                        <item-definition-display item="item.definition"></item-definition-display>
                                    </div>
                                    <div class="col-md-3 col-lg-3 text-center shop-entry-text">
                                        <display-price price="item.price"></display-price>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <button class="button-default shop-button" style="margin-left: 0;" ng-click="sellItem(item.definition.id)">
                                            Sell
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="shopPage === 'shop'">
                <h3 class="text-center">Shop inventory</h3>
                <div class="text-center" style="padding-bottom: 10px;">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-3">Your money:</div>
                        <div class="col-lg-1">{{shopData.money.gold}}
                            <img class="shop-money-icon" src="../../image/icon/shop/gold.png">
                        </div>
                        <div class="col-lg-1">{{shopData.money.silver}}
                            <img class="shop-money-icon" src="../../image/icon/shop/silver.png">
                        </div>
                        <div class="col-lg-1">{{shopData.money.bronze}}
                            <img class="shop-money-icon" src="../../image/icon/shop/bronze.png">
                        </div>
                    </div>
                </div>
                <div class="shop-search-container row">
                    <div class="col-lg-12">
                        <label for="item-name-for-buy">Item name</label>
                        <div class="description-holder">
                            <input class="form-control" id="item-name-for-buy" ng-model="item.definition.name"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 text-center" style="font-size: 18px;">
                        Item
                    </div>
                    <div class="col-lg-2 text-center" style="font-size: 18px;">
                        Price
                    </div>
                </div>
                <div ng-repeat="type in shopData.items" ng-if="(type.items | filter:item).length > 0">
                    <h4><img style="width: 40px;filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.8));" ng-src="{{getItemTypeImage(type.typeName)}}"> {{type.typeName}}</h4>
                    <div class="description-holder" style="padding: 5px;">
                    <div class="row" ng-repeat="item in type.items | filter:item">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="line-height: 2.6;">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1 text-center shop-entry-text">
                                    <span class="badge text-center" ng-bind="item.amount"></span>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 shop-entry-text">
                                    <item-definition-display item="item.definition"></item-definition-display>
                                </div>
                                <div class="col-md-3 col-lg-3 text-center shop-entry-text">
                                    <display-price price="item.price"></display-price>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <button class="button-default shop-button" style="margin-left: 0;" ng-click="buyItem(item.definition.id)">
                                        Buy
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>