<h3><img class="character-list-header" src="../../../image/btts_stats_button.png"> General information</h3>

<div class="general-information-panel">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <span class="general-information-title">Username:</span>
            <span class="general-information-value">{{user.username}}</span>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <span class="general-information-title">Race:</span>
            <span class="general-information-value">{{user.race}}</span>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <span class="general-information-title">Registration date:</span>
            <span class="general-information-value">{{user.registrationDate | date:'dd. MMM. yyyy.'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <span class="general-information-title">Last login date:</span>
            <span class="general-information-value">{{user.lastLoginDate | date:'dd. MMM. yyyy.'}}</span>
        </div>
    </div>
</div>