<div class="panel panel-default button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/character.png">
        <img class="panel-heading-icon-improved-holder"
             src="../../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">Character</h3>
    </div>
    <div class="panel-body">
        <div class="row big-button-container" style="margin-bottom: 20px;">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <big-button title="Inventory" image="witchhunters-guild-main" target="character2.inventory"></big-button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <big-button title="Attribute" image="witchhunters-guild-main" target="character2.attribute"></big-button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <big-button title="Skills" image="witchhunters-guild-main" target="character2.skill"></big-button>
            </div>
        </div>
        <div class="row big-button-container" style="margin-bottom: 20px;">
            <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-4 col-md-4 col-lg-4">
                <big-button title="Spells" image="witchhunters-guild-main" target="character2.spells"></big-button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <big-button title="Other" image="witchhunters-guild-main" target="character2.other"></big-button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>