.journal-panel.panel {
    .panel-body {
        padding-left: 6px;
        padding-right: 6px;
    }

    .journal-item-watch {
        padding: 5px;
        color: wheat;
    }

    .journal-head-icon-container {
        margin-top: 2px;
    }
}