.journal-panel.panel {
    .journal-item-watch {
        padding: 5px;
        color: wheat;
    }

    .journal-head-icon-container {
        margin-top: 2px;
    }
}

.journal-entry-panel.panel {
    .quest-stage-completed {
        color: green;
    }
}