@import '../../viewport-info.scss';

.chat {

    .chat-header {
        text-align: center;
        margin-bottom: 0;
    }

    .chat-input-container {
        margin-top: 10px;
        padding: 0;
        padding-right: 8px;

        @include when-tablet {
            padding-right: 0;
            margin-bottom: 6px;
        }
    }

    .chat-container {
        margin: 10px;
        max-height: 600px;
        overflow-x: hidden;

        .chat-entry {
            margin-bottom: 10px;

            .chat-entry-holder {
                background-color: rgba(0, 0, 0, 0.3);
                border: 1px solid rgba(0, 0, 0, 0.4);
                padding: 10px;

                .chat-entry-posting-time {
                    text-align: right;
                }

                .chat-entry-body {
                    margin: 10px 0 0;
                    word-wrap: break-word;
                }
            }
        }

        .chat-entry:last-child {
            margin-bottom: 0;
        }
    }

    .chat-container::-webkit-scrollbar {
        width: 12px;
    }

    .chat-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(245, 222, 179, 0.8);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }

    .chat-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
        border-radius: 10px;
    }
}