@import '../../viewport-info.scss';

.top-attribute-bar {
  margin-bottom: 8px;

  .progress {
    height: 15px;
    margin-bottom: 0;
    position: relative;
  }
}

.top-attribute-bar:first-of-type {
  margin-top: 18px;

  @include when-tablet {
    margin-top: 10px;
  }
}

.top-movement-bar {
  margin-left: 0;
}

.top-attribute-text {
  float: left;
  margin-top: -3px;
}

.progress-info {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  max-height: 15px;
  //This strange line height is used to both FF and Chrome render the texst in the bar correctly.
  line-height: 1.34;
}