.header-menu {
  background: url(../../../image/btts_frame.png) no-repeat;
  background-size: contain;
  min-height: 180px;
  z-index: 100;
}

@media (min-width: 768px) {
  .header-menu {
    margin-bottom: -60px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-menu {
    margin-bottom: -120px;
  }
}

.top-attribute-bar {
  width: 250px;
  margin-bottom: 8px;

  .progress {
    height: 15px;
    margin-bottom: 0;
  }
}

.top-attribute-bar:first-of-type {
  margin-top: 30px;
}

.top-health-bar {
  margin-left: 40px;
}

.top-mana-bar {
  margin-left: 20px;
}

.top-movement-bar {
  margin-left: 0px;
}

.top-attribute-text {
  float: left;
  margin-top: -3px;
  margin-right: 5px;
}

.progress-info {
  position: absolute;
  font-size: 12px;
  width: 220px;
  text-align: center;
  color: black;
}