<!DOCTYPE html>

<html ng-app="swordssorcery">
    <head>
        <meta charset="UTF-8">

        <title>Daggers & Sorcery</title>

        <link rel="shortcut icon" href="favicon.png"/>

        <meta property="og:url" content="//www.daggersandsorcery.com/"/>
        <meta property="og:title" content="Daggers & Sorcery"/>
        <meta property="og:description" content="An online browser based fantasy role playing game."/>
        <meta property="og:image" content="//www.daggersandsorcery.com/fbicon.png"/>

        <meta name=viewport content="width=device-width, initial-scale=1">

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">

        <!-- Angular -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js" integrity="sha256-VxwP31FfNjMF8SmPU18jjvYdM9si67Kq5yahdVeIlQs=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js" integrity="sha256-C65b0KcK4OUsQwpqcHjBR/MjNCBp7zrPcc8e3U0zVk4=" crossorigin="anonymous"></script>

        <!-- JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha256-ZT4HPpdCOt2lvDkXokHuhJfdOKSPFLzeAJik5U/Q+l4=" crossorigin="anonymous"/>

        <!-- Markdown -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" integrity="sha256-mJAzKDq6kSoKqZKnA6UNLtPaIj8zT2mFnWu/GSouhgQ=" crossorigin="anonymous"></script>

        <!-- Angular Lightbox -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-lightbox/0.12.0/angular-bootstrap-lightbox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-lightbox/0.12.0/angular-bootstrap-lightbox.min.js"></script>
    </head>
    <body class="cursor-default" ondragstart="return false" draggable="false"
          ondragenter="event.dataTransfer.dropEffect='none'; event.stopPropagation(); event.preventDefault();"
          ondragover="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();"
          ondrop="event.dataTransfer.dropEffect='none';event.stopPropagation(); event.preventDefault();">
        <div ng-controller="MainController">
            <div bind-html-compile="loadContent()" ng-if="landingPageShown"></div>
            <div bind-html-compile="loadLanding()" ng-if="!landingPageShown"></div>
        </div>
    </body>
</html>