.map-page {
    .map-event-holder {
        background: url(../../../image/map/papper_container.png) no-repeat;
        background-size: contain;
        min-height: 400px;
        padding: 25px;

        a {
            cursor: pointer;
        }

        table td {
            border-top: none;
        }

        table > thead > tr > th {
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        }
    }

    .map-holder {
        border: 10px;
        border-image-source: url(../../../image/map/select_dropdown_container.png);
        border-image-slice: 30 fill;
        border-image-repeat: repeat;
        border-style: solid;
        margin-right: 8px;
    }

    .map-text-holder {
        border: 10px;
        border-image-source: url(../../../image/map/select_dropdown_container.png);
        border-image-slice: 30 fill;
        border-image-repeat: repeat;
        border-style: solid;
        margin-top: 10px;
        padding: 5px;
    }

    .map-movement-button-holder {
        position: absolute;
        bottom: 0;
        right: 14px;
        border-radius: 4px;
        padding: 10px;
        width: 130px;
        margin-right: 10px;
    }

    .map-movement-button-holder button {
        height: 40px;
        width: 100%;
    }
}