<div class="panel panel-default button-panel journal-panel">
	<div class="panel-heading">
		<img class="panel-heading-icon-improved" src="../../../image/icon/extra/books.png">
		<img class="panel-heading-icon-improved-holder" src="../../../image/m_action_frame.png"/>
		<h3 class="panel-title">Journal <small>(Items)</small></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 big-button">
				<img src="../../../image/cf_main_frame.png" class="img-responsive">
				<img class="big-button-icon" src="../../../image/icon/extra/items.png"/>
				<span class="big-button-text">Items</span>
			</div>
			<div class="col-md-4 col-lg-4 big-button" ui-sref="monster-journal">
				<img src="../../../image/cf_main_frame.png" class="img-responsive">
				<img class="big-button-icon" src="../../../image/icon/extra/monsters.png"/>
				<span class="big-button-text">Monsters</span>
			</div>
		</div>

		<div class="row">
			<div ng-repeat="entry in list">
				<div class="col-md-11 col-lg-11">
					{{entry.entryName}}
				</div>
				<div class="col-md-1 col-lg-1">
					<a ui-sref="journal_entry({type: 'item', entryId: entry.entryId})"><span
									class="glyphicon glyphicon-zoom-in journal-item-watch cursor-zoom"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>