.item-definition-popover {
    dl {
        margin-bottom: 0;
    }

    .item-definition-popover-flavor, .item-definition-popover-description {
        text-align: center;
        margin: 10px;
    }
}