.separator {
    width: 100%;
}

.form-control {
    color: #cab794;
}

.form-control::-webkit-input-placeholder {
    color: #cab794;
}

.form-control:-moz-placeholder {
    color: #cab794;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #cab794;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #cab794;
}