.cursor-default {
    cursor: url(../../image/cursor/default.png), auto;
}

.cursor-examine {
    cursor: url(../../image/cursor/examine.png), auto;
}

.cursor-zoom {
    cursor: url(../../image/cursor/zoom.png), auto;
}