.item-rarity-common {
    color: wheat;
}

.item-rarity-uncommon {
    color: #9090ff;
}

.item-rarity-rare {
    color: #ffff00;
}

.item-rarity-legendary {
    color: #bb6030;
}

.item-rarity-mythical {
    color: #22ff00;
}