.quest-definition {

    color: wheat;
    margin-bottom: 0;
    border: 5px;
    border-image-source: url(../../image/select_dropdown_container.png);
    border-image-slice: 20 fill;
    border-image-repeat: repeat;
    border-style: solid;
    background: transparent;
    padding: 10px;

    .quest-title {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    .quest-description {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
}