<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cooking</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h4><img class="character-list-header" src="../../../image/btts_stats_button.png"> Your recipes</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Result</th>
                        <th class="text-center">Create</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>