<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cooking</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h4><img class="character-list-header" src="../../../image/btts_stats_button.png"> Your recipes</h4>
                <div class="alert alert-danger cooking-error" ng-if="success">
                    You was successfull!
                </div>
                <div class="alert alert-danger cooking-error" style="color:darkred;" ng-if="success == false">
                    Something went wrong!
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Requirements</th>
                        <th class="text-center">Result</th>
                        <th class="text-center">Create</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="recipe in cookingInfo.recipes">
                        <td ng-bind="::recipe.name"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li ng-repeat="requirement in recipe.recipeRequirements">{{requirement.amount}} - {{requirement.skill}} level</li>
                                <li ng-repeat="ingredient in recipe.recipeIngredients">{{ingredient.amount}} - {{ingredient.name}} <small style="color: lightgray;">(used up)</small></li>
                            </ul>
                        </td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li ng-repeat="reward in recipe.recipeRewards">{{reward.amount}} - {{reward.name}}</li>
                                <li ng-repeat="experience in recipe.recipeExperiences">{{experience.amount}} - {{experience.skill}} experience</li>
                            </ul>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <a ng-click="create(recipe.id)">Create</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>