<div class="panel panel-default">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/skill/Cooking.png" />
        <img class="panel-heading-icon-improved-holder" src="../../../image/panel/header/panel-header-icon-background.png" />
        <h3 class="panel-title">Cooking</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Recipes</h3>

                <div class="description-holder" style="margin-bottom: 10px;" hm-read-more hm-limit="300" hm-text="Cooking isn´t only something for housewives to do. Every skilled adventurer should be capable of preparing nutritious meals on his own. Be is meat, pies, drinks, you  can´t explore on empty stomach."></div>

                <div class="alert alert-success cooking-error" ng-if="success == true">
                    You were successful!
                </div>
                <div class="alert alert-danger cooking-error" style="color:darkred;" ng-if="success == false">
                    Something went wrong!
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Requirements</th>
                        <th class="text-center">Result</th>
                        <th class="text-center">Create</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="recipe in cookingInfo.recipes">
                        <td ng-bind="::recipe.name"></td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li ng-repeat="requirement in recipe.recipeRequirements">
                                    <span ng-if="requirement.itemName">{{requirement.amount}} - {{requirement.itemName}}</span>
                                    <span ng-if="requirement.skill">{{requirement.amount}} - {{requirement.skill}} level</span>
                                </li>
                                <li ng-repeat="ingredient in recipe.recipeIngredients">{{ingredient.amount}} - {{ingredient.name}} <small style="color: lightgray;">(consumed)</small></li>
                            </ul>
                        </td>
                        <td>
                            <ul style="list-style-type: none;">
                                <li ng-repeat="reward in recipe.recipeRewards">{{reward.amount}} - {{reward.name}}</li>
                                <li ng-repeat="experience in recipe.recipeExperiences">{{experience.amount}} - {{experience.skill}} experience</li>
                            </ul>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <a ng-click="create(recipe.id)">Create</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>