<div class="panel panel-default button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/skill/Fletching.png"/>
        <img class="panel-heading-icon-improved-holder" src="../../../image/m_action_frame.png"/>

        <h3 class="panel-title">Fletching
            <small>(Level {{fletchingInfo.skill.level}})</small>
        </h3>
    </div>
    <div class="panel-body">
        <flash-message duration="5000" show-close="true"></flash-message>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Recipes</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Requirements</th>
                            <th class="text-center">Result</th>
                            <th class="text-center">Create</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recipe in fletchingInfo.recipes | orderBy:['recipeRequirements[0].amount','recipeExperiences[0].amount']">
                            <td>{{recipe.name}} <small ng-if="recipe.chance < 100" style="color: red;">({{recipe.chance}}% chance)</small></td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li ng-repeat="requirement in recipe.recipeRequirements">
                                        <span ng-if="requirement.itemName">{{requirement.amount}} - {{requirement.itemName}}</span>
                                        <span ng-if="requirement.skill">{{requirement.amount}} - {{requirement.skill}} level</span>
                                    </li>
                                    <li ng-repeat="ingredient in recipe.recipeIngredients">{{ingredient.amount}} -
                                        {{ingredient.name}}
                                        <small style="color: lightgray;">(consumed)</small>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type: none;">
                                    <li ng-repeat="reward in recipe.recipeRewards">{{reward.amount}} - {{reward.name}}
                                    </li>
                                    <li ng-repeat="experience in recipe.recipeExperiences">{{experience.amount}} -
                                        {{experience.skill}} experience
                                    </li>
                                </ul>
                            </td>
                            <td class="text-center" style="vertical-align: middle;">
                                <a ng-click="create(recipe.id)">Create</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>