<style>
    .big-button-text {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 170px;
        top: 18px;
        left: 80px;
        font-size: 20px;
    }

    .big-button-icon {
        height: 52px;
        position: absolute;
        top: 8px;
        left: 22px;
        border-radius: 50%;
    }

    .big-button {
        cursor: pointer;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/skill/Leatherworking.png"/>
        <img class="panel-heading-icon-improved-holder" src="../../../image/m_action_frame.png"/>

        <h3 class="panel-title">Leatherworking</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-4 big-button">
                        <img src="../../../image/cf_main_frame.png" class="img-responsive">
                        <img class="big-button-icon" src="../../../image/icon/extra/curing.png"/>
                        <span class="big-button-text">Curing</span>
                    </div>
                    <div class="col-xs-4 big-button">
                        <img src="../../../image/cf_main_frame.png" class="img-responsive">
                        <img class="big-button-icon" src="../../../image/icon/extra/tanning.png"/>
                        <span class="big-button-text">Tanning</span>
                    </div>
                </div>
                asdasdasd
            </div>
        </div>
    </div>
</div>