<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Scavenging</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group attribute-list-group">
                    <li class="list-group-item attribute-list-item" style="background-color:transparent;border:none;">
                        <div class="row">
                            <div class="col-xs-6" style="border-right: 1px solid rgba(1,1,1,0.4);">
                                Scavenging points: <span>{{user.scavengingPoints}}/50</span><br> <span>Costs: {{calculateNeededMovementPoints(scavengingSlider)}} movement points</span><br>

                                <div class="row scavenging-converter">
                                    <div class="col-xs-9" style="padding-right: 0;">
                                        <!--rz-slider-ceil="calculateMaxScavengingPointsToConvert()" rz-slider-step="5"-->
                                        <rzslider rz-slider-model="scavengingSlider" rz-slider-options="slider.options"></rzslider>
                                    </div>
                                    <div class="col-xs-3">
                                        <span style="padding: 10px; border: 1px solid rgba(1,1,1,0.2);" ng-bind="scavengingSlider"></span>
                                        <span class="pull-right inventory-item-watch" ng-click="convertScavengingPoints()" style="width: 26px;height: 26px;cursor: pointer;">
                                            <img style="margin-top: -8px;width:14px;height:14px;" src="../../../image/icon/convert.svg">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                Convert movement points to scavenging points here.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>