<div class="panel panel-default scavenging-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/skill/Scavenging.png"/>
        <img class="panel-heading-icon-improved-holder" src="../../../image/panel/header/panel-header-icon-background.png"/>
        <h3 class="panel-title">Scavenging</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="description-holder" style="margin-bottom: 10px;" hm-read-more hm-limit="300" hm-text="Enemies guard their loot to the grave and refuse to relinquish it. However, scavenging allows you to search fallen enemies for their hidden loot, and you may discover coins, materials, and recipes through this skill. Upon obtaining loot, it may be sold at the shop or utilized to advance trading and combat skills. Furthermore, some enemies drop loot specific to them, and these items cannot be found anywhere else. Besides, the dead have no use for worldly possessions. Why let precious loot go to waste?"></div>
                <ul class="list-group attribute-list-group">
                    <li class="list-group-item attribute-list-item" style="background-color:transparent;border:none;">
                        <div class="row">
                            <div class="col-xs-6">
                                <div>
                                    <div class="scavenging-point-info">
                                        <div class="scavenging-point-info-top">
                                            You have
                                        </div>
                                        <div class="scavenging-point-info-counter" ng-bind="user.scavengingPoints"></div>
                                        <div class="scavenging-point-info-counter-underline">
                                            / 50
                                        </div>
                                        <div class="scavenging-point-info-bottom">
                                            points!
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <span>Costs: {{calculateNeededMovementPoints(scavengingSlider)}} movement points</span>
                                </div>
                                <div>
                                    <div class="row scavenging-converter">
                                        <div class="col-xs-12" style="padding-right: 0;">
                                            <rzslider rz-slider-model="scavengingSlider" rz-slider-options="slider.options"></rzslider>
                                        </div>
                                    </div>
                                </div>
                                <div class="conversion-info">
                                    Convert movement points to scavenging points. <br>(1 -> 5)
                                </div>
                                <div class="text-center">
                                    <button class="button-default" ng-click="convertScavengingPoints()">Convert</button>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="information-holder">
                                    <div class="information-holder-icon">
                                        <img src="../../../image/cc_char_info_button.png">
                                    </div>
                                    <div>
                                        Before you can use scavenging you should enable it using the "enable scavenging"
                                        checkbox.
                                        Movement points can be converted into scavenging points by sliding the
                                        bar to the right. The scavenging points are utilized during exploration events.
                                    </div>
                                </div>

                                <div class="description-holder">
                                    <img ng-src="{{getCheckboxImage()}}" ng-click="updateScavengingEnabled()" style="    width: 34px;"> Enable scavenging
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>