<div class="panel panel-default button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/skill/Smithing.png"/>
        <img class="panel-heading-icon-improved-holder" src="../../../image/panel/header/panel-header-icon-background.png"/>

        <h3 class="panel-title">Smithing
            <small>(Level {{smithingInfo.skill.level}})</small>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row big-button-container">
                    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-4 col-md-4 col-lg-4 big-button" ng-click="showSmelting()">
                        <img src="../../../image/cf_main_frame.png" class="img-responsive">
                        <img class="big-button-icon" src="../../../image/icon/extra/smelting.png"/>
                        <span class="big-button-text">Smelting</span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 big-button" ng-click="showWorking()">
                        <img src="../../../image/cf_main_frame.png" class="img-responsive">
                        <img class="big-button-icon" src="../../../image/icon/extra/smithing.png"/>
                        <span class="big-button-text">Recipes</span>
                    </div>
                </div>
                <div ng-if="state == 'smelting'">
                    <h3 class="text-center">Smelting</h3>

                    <div class="description-holder" style="margin-bottom: 10px;" hm-read-more hm-limit="300" hm-text="Smelting is the process of extracting metal from ore and requires intense heat. A furnace melts the metals into solid bars and prepares them for smithing. For example, tin ore and copper ore craft a bronze bar."></div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Requirements</th>
                                <th class="text-center">Result</th>
                                <th class="text-center">Create</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr display-recipe recipe="recipe" create="create(id)" ng-repeat="recipe in smithingInfo.smelting_recipes | orderBy:['recipeRequirements[0].amount','recipeExperiences[0].amount']"></tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="state == 'working'">
                    <h3 class="text-center">Recipes</h3>

                    <div class="description-holder" style="margin-bottom: 10px;" hm-read-more hm-limit="300" hm-text="During smithing, the metal bars are heated until they become malleable, and then, they are placed on an anvil. A hammer pounds the heated bars until they forge into powerful weapons, armor, and tools. The master smiths are the dwarves, and for generations, their race has possessed an ancient gift called metalsinging. This gift allows them to enchant their creations with magical properties. Then again, any individual with ambition, patience, and creativity can master metalworking."></div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="text-center">Requirements</th>
                                <th class="text-center">Result</th>
                                <th class="text-center">Create</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr display-recipe recipe="recipe" create="create(id)" ng-repeat="recipe in smithingInfo.working_recipes | orderBy:['recipeRequirements[0].amount','recipeExperiences[0].amount']"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>