.alert-success, .alert-danger {
  color: wheat;
  margin-bottom: 0;

  border: 5px;
  border-image-source: url(../../../image/select_dropdown_container.png);
  border-image-slice: 20 fill;
  border-image-repeat: repeat;

  border-style: solid;
  background: transparent;
}

.alert-danger {
  color: rgba(255, 0, 0, 0.8);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.alert-success {
  color: rgba(0, 255, 0, 0.8);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}