<div class="panel panel-default button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/witchhunters-guild.png"/>
        <img class="panel-heading-icon-improved-holder"
             src="../../../image/panel/header/panel-header-icon-background.png"/>

        <h3 class="panel-title">Witchhunter's guild
            <small>(Guild hall)</small>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <big-button title="Guild hall" image="witchhunters-guild-main" target="witchhunters-guild.witchhunters-guild-main"></big-button>
            </div>
            <div class="col-xs-4">
                <big-button title="Quests" image="witchhunters-guild-quest" target="witchhunters-guild.witchhunters-guild-quest"></big-button>
            </div>
            <div class="col-xs-4">
                <big-button title="Shop" image="witchhunters-guild-shop" target="witchhunters-guild.witchhunters-guild-shop"></big-button>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>