<div class="panel panel-default panel-shadow button-panel">
    <div class="panel-heading">
        <img class="panel-heading-icon-improved" src="../../../image/icon/extra/inn.png">
        <img class="panel-heading-icon-improved-holder" src="../../../image/m_action_frame.png"/>
        <h3 class="panel-title">Inn <small>(Drunken Dragoon)</small></h3>
    </div>
    <div class="panel-body chat">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 big-button" ng-click="showServices()">
                <img src="../../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../../image/icon/extra/beer.png"/>
                <span class="big-button-text">Services</span>
            </div>
            <div class="col-md-4 col-lg-4 big-button">
                <img src="../../../image/cf_main_frame.png" class="img-responsive">
                <img class="big-button-icon" src="../../../image/icon/extra/chat.png"/>
                <span class="big-button-text">Chat</span>
            </div>
        </div>

        <form>
            <div class="row" style="margin: 10px;margin-bottom: 0;">
                <div class="col-md-10 col-lg-10 chat-input-container">
                    <input ng-model="textToSend" class="form-control" maxlength="254" placeholder="Write a message..." style="width: 100%;">
                </div>
                <div ng-click="writeMessage()" class="col-md-2 col-lg-2" style="padding: 0;">
                    <button class="button-default max-width">Send</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div class="description-holder chat-container">
                    <div ng-repeat="message in messages" class="row chat-entry">
                        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                            <div class="chat-entry-holder">
                                <div class="row">
                                    <div ng-bind="message.user" class="col-md-6 col-lg-6"></div>
                                    <div ng-bind="message.writingTime | date:'EEEE, MMMM d, y HH:mm:ss'"
                                         class="col-md-6 col-lg-6 chat-entry-posting-time"></div>
                                </div>
                                <p ng-bind="message.message" class="chat-entry-body"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>