<div id="page-wrap">
    <div class="container" role="main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-menu">
                <div class="row" ng-show="$root.user.loggedIn">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <img style="height: 130px; margin-left: 50px;" src="../image/m_action_frame_5_potions.png"/>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <div style="margin-top: 32px; margin-left: -40px;">
                                    <div>Name: Laxika</div>
                                    <div>Race: Orc</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <div class="top-attribute-bar top-health-bar">
                            <span class="top-attribute-text">HP: </span>

                            <div class="progress">
                                <span class="progress-info">{{$root.user.life}} / {{$root.user.max_life}}</span>

                                <div class="progress-bar progress-bar-danger" role="progressbar"  ng-style="{'width': getHealthPercent()+'%'}"></div>
                            </div>
                        </div>
                        <div class="top-attribute-bar top-mana-bar">
                            <span class="top-attribute-text">MP: </span>

                            <div class="progress">
                                <span class="progress-info">{{$root.user.mana}} / {{$root.user.max_mana}}</span>

                                <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{'width': getManaPercent()+'%'}"></div>
                            </div>
                        </div>
                        <div class="top-attribute-bar top-movement-bar">
                            <span class="top-attribute-text">MOV: </span>

                            <div class="progress">
                                <span class="progress-info">{{$root.user.movement}} / {{$root.user.max_movement}}</span>

                                <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{'width': getMovementPercent()+'%'}"></div>
                            </div>
                        </div>
                        <div class="exit-button" ui-sref="logout"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-9 content-middle" ui-view></div>
            <div class="col-md-3 col-lg-3 content-right">
                <div ng-hide="$root.user.loggedIn" class="panel panel-default login-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <button class="button-default registration-button" ui-sref="registration" href="#/registration/">Create an account</button>
                        <div class="alert alert-danger login-error ng-binding ng-hide" role="alert" ng-bind="error" ng-show="error" style="margin-bottom: 15px;"></div>
                        <form ng-submit="submit()" class="ng-pristine ng-valid">
                            <div class="form-group">
                                <label for="username">Username</label> <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="username" placeholder="Username" ng-model="user.username" autocomplete="off">
                            </div>
                            <div class="password">
                                <label for="password">Password</label> <input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="password" placeholder="Password" ng-model="user.password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-default login-button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div ng-show="$root.user.loggedIn" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Menu</h3>
                    </div>
                    <div class="panel-body">
                        <button ui-sref="character" class="button-default max-width">Character</button>
                        <button ui-sref="inventory" class="button-default max-width">Inventory</button>
                        <button ui-sref="map" class="button-default max-width">Map</button>
                        <button ui-sref="journal" class="button-default max-width">Journal</button>
                        <button ui-sref="settings" class="button-default max-width">Settings</button>
                        <button ui-sref="shop({shopId: 'main'})" class="button-default max-width">Shop</button>
                        <!--<a ui-sref="auction" class="btn btn-default right-menu-button">Auction</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-menu">
                This website and its contents are copyright &copy; 2016 More Than Heroic Studios
            </div>
        </div>
    </div>
</div>