<div id="page-wrap">
    <div class="container" role="main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-menu"></div>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-9 content-middle" ui-view></div>
            <div class="col-md-3 col-lg-3 content-right">
                <div ng-hide="$root.user.loggedIn" class="panel panel-default login-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <button class="button-default registration-button" ui-sref="registration" href="#/registration/">Create an account</button>
                        <div class="alert alert-danger login-error ng-binding ng-hide" role="alert" ng-bind="error" ng-show="error" style="margin-bottom: 15px;"></div>
                        <form ng-submit="submit()" class="ng-pristine ng-valid">
                            <div class="form-group">
                                <label for="username">Username</label> <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="username" placeholder="Username" ng-model="user.username" autocomplete="off">
                            </div>
                            <div class="password">
                                <label for="password">Password</label> <input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="password" placeholder="Password" ng-model="user.password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="button-default login-button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div ng-show="$root.user.loggedIn" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Menu</h3>
                    </div>
                    <div class="panel-body">
                        <a ui-sref="character">
                            <button class="button-default max-width">Character</button>
                        </a> <a ui-sref="map">
                        <button class="button-default max-width">Map</button>
                    </a>
                        <button ui-sref="journal" class="button-default max-width">Journal</button>
                        <button ui-sref="settings" class="button-default max-width">Settings</button>
                        <button ui-sref="shop({shopId: 'main'})" class="button-default max-width">Shop</button>
                        <!--<a ui-sref="auction" class="btn btn-default right-menu-button">Auction</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-menu">
                This website and its contents are copyright &copy; 2016 More Than Heroic Studios
            </div>
        </div>
    </div>
</div>